html {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

html::-webkit-scrollbar {
	display: none;
}

.st0{font-family:'Vollkorn-Black';}
.st1{font-size:37px;}
.st2{fill:none;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
.st3{font-size:16px;}
.st4{font-family:'Vollkorn-BoldItalic';}
.st5{font-size:26px;}
.st6{fill:#EA5239;}
.st7{font-family:'Montserrat-Light';}
.st8{font-size:17px;}
.st9{fill:none;stroke:#EA5239;stroke-miterlimit:10;}
.st10{opacity:0.95;enable-background:new    ;}
.st11{font-size:11px;}
.st12{opacity:0.95;fill:none;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;enable-background:new    ;}
.st13{opacity:0.95;}
.st14{display:none;}
.st15{display:inline;}
.st16{font-family:'Montserrat-Medium';}
.st17{font-size:32px;}
.st18{font-family:'Vollkorn-SemiBold';}
.st19{font-size:18px;}
.st20{display:inline;fill:#D20605;}
.st21{display:inline;fill:#E5CD17;}
.st22{display:inline;fill:#37A542;}
.st23{display:inline;fill:#5272B7;}
.st24{display:inline;fill:#6B3E13;}
.st25{display:inline;fill:#7B6F71;}
.st26{display:inline;fill:#5B2243;}
.st27{fill:#FFFFFF;stroke:#1D1D1B;stroke-width:0.25;}
.st28{fill:#D20605;}
.st29{fill:#E5CD17;}
.st30{fill:#37A542;}
.st31{fill:#5272B7;}
.st32{fill:#6B3E13;}
.st33{fill:#7B6F71;}
.st34{fill:#5B2243;}
.st35{clip-path:url(#SVGID_2_);}
.st36{fill:none;stroke:#09ADC3;stroke-width:0.5;stroke-miterlimit:10;}
.st37{clip-path:url(#SVGID_4_);}
.st38{font-family:'NotoSans-SemiBold';}
.st39{display:inline;fill:#F2E500;}
.st40{display:inline;fill:#AA3932;}
.st41{display:inline;fill:#759C2C;}
.st42{display:inline;fill:#6F9DBA;}
.st43{fill:#AA3932;}
.st44{fill:#F2E500;}
.st45{fill:#759C2C;}
.st46{fill:#6F9DBA;}
.st47{clip-path:url(#SVGID_6_);}
.st48{clip-path:url(#SVGID_8_);}
.st49{clip-path:url(#SVGID_10_);}
.st50{clip-path:url(#SVGID_12_);}
.st51{clip-path:url(#SVGID_14_);}
.st52{display:inline;fill:#F7DF00;}
.st53{display:inline;fill:#E12B2D;}
.st54{display:inline;fill:#35AF7C;}
.st55{display:inline;fill:#274193;}
.st56{fill:#E12B2D;}
.st57{fill:#F7DF00;}
.st58{fill:#35AF7C;}
.st59{fill:#274193;}
.st60{clip-path:url(#SVGID_16_);}
.st61{clip-path:url(#SVGID_18_);}
.st62{clip-path:url(#SVGID_20_);}
.st63{clip-path:url(#SVGID_22_);}
.st64{clip-path:url(#SVGID_24_);}
.st65{display:inline;fill:#D31217;}
.st66{fill:#D31217;}
.st67{clip-path:url(#SVGID_26_);}
.st68{clip-path:url(#SVGID_28_);}
.st69{clip-path:url(#SVGID_30_);}
.st70{clip-path:url(#SVGID_32_);}
.st71{clip-path:url(#SVGID_34_);}
.st72{display:inline;fill:#FFE339;}
.st73{display:inline;fill:#E20714;}
.st74{display:inline;fill:#7ABC5F;}
.st75{display:inline;fill:#264F86;}
.st76{display:inline;fill:#745C4E;}
.st77{display:inline;fill:#EA87A7;}
.st78{display:inline;fill:#DA5E27;}
.st79{display:inline;fill:#C3B8C7;}
.st80{display:inline;fill:#514F50;}
.st81{display:inline;fill:#A060A3;}
.st82{fill:#E20714;}
.st83{fill:#FFE339;}
.st84{fill:#7ABC5F;}
.st85{fill:#264F86;}
.st86{fill:#745C4E;}
.st87{fill:#EA87A7;}
.st88{fill:#DA5E27;}
.st89{fill:#C3B8C7;}
.st90{fill:#514F50;}
.st91{fill:#A060A3;}
.st92{clip-path:url(#SVGID_36_);}
.st93{clip-path:url(#SVGID_38_);}
.st94{clip-path:url(#SVGID_40_);}
.st95{clip-path:url(#SVGID_42_);}
.st96{clip-path:url(#SVGID_44_);}
.st97{fill:#C1111E;}
.st98{fill:#F9D91C;}
.st99{fill:#40BC49;}
.st100{fill:#456296;}
.st101{clip-path:url(#SVGID_46_);}
.st102{clip-path:url(#SVGID_48_);}
.st103{clip-path:url(#SVGID_50_);}
.st104{clip-path:url(#SVGID_52_);}
.st105{clip-path:url(#SVGID_54_);}
.st106{display:inline;fill:#4D334C;}
.st107{display:inline;fill:#794795;}
.st108{display:inline;fill:#B7B7B6;}
.st109{display:inline;fill:#645A5B;}
.st110{display:inline;fill:#E73E1B;}
.st111{display:inline;fill:#F49517;}
.st112{display:inline;fill:#E34586;}
.st113{display:inline;fill:#F3A69F;}
.st114{display:inline;fill:#644339;}
.st115{display:inline;fill:#253777;}
.st116{display:inline;fill:#1EB1E7;}
.st117{display:inline;fill:#AEC53B;}
.st118{display:inline;fill:#68B763;}
.st119{display:inline;fill:#65B32E;}
.st120{display:inline;fill:#F4E70F;}
.st121{display:inline;fill:#E6331F;}
.st122{display:inline;fill:#4C0F11;}
.st123{fill:#4C0F11;}
.st124{fill:#E6331F;}
.st125{fill:#F4E70F;}
.st126{fill:#65B32E;}
.st127{fill:#68B763;}
.st128{fill:#AEC53B;}
.st129{fill:#1EB1E7;}
.st130{fill:#253777;}
.st131{fill:#644339;}
.st132{fill:#F3A69F;}
.st133{fill:#E34586;}
.st134{fill:#F49517;}
.st135{fill:#E73E1B;}
.st136{fill:#645A5B;}
.st137{fill:#B7B7B6;}
.st138{fill:#794795;}
.st139{fill:#4D334C;}
.st140{display:inline;fill:#803D90;}
.st141{font-family:'NotoSansArabic-CondensedSemiBold';}
.st142{display:inline;fill:#7B7B7C;}
.st143{display:inline;fill:#EC671C;}
.st144{display:inline;fill:#E162A1;}
.st145{display:inline;fill:#664323;}
.st146{display:inline;fill:#1F7B34;}
.st147{display:inline;fill:#F7DF13;}
.st148{display:inline;fill:#E52321;}
.st149{fill:#E52321;}
.st150{fill:#F7DF13;}
.st151{fill:#1F7B34;}
.st152{fill:#664323;}
.st153{fill:#E162A1;}
.st154{fill:#EC671C;}
.st155{fill:#7B7B7C;}
.st156{fill:#803D90;}
.st157{font-family:'NotoSansArmenian-Bold';}
.st158{font-size:14px;}
.st159{font-family:'NotoSans-Bold';}
.st160{display:inline;fill:#CD2A20;}
.st161{display:inline;fill:#EEE416;}
.st162{display:inline;fill:#86BC25;}
.st163{display:inline;fill:#284A9A;}
.st164{display:inline;fill:#63140D;}
.st165{display:inline;fill:#E96F91;}
.st166{display:inline;fill:#F28A0B;}
.st167{display:inline;fill:#CBD7AE;}
.st168{display:inline;fill:#972785;}
.st169{fill:#CD2A20;}
.st170{fill:#EEE416;}
.st171{fill:#86BC25;}
.st172{fill:#284A9A;}
.st173{fill:#63140D;}
.st174{fill:#E96F91;}
.st175{fill:#F28A0B;}
.st176{fill:#CBD7AE;}
.st177{fill:#972785;}
.st178{display:inline;fill:#C64A4B;}
.st179{display:inline;fill:#F7F700;}
.st180{display:inline;fill:#0D6F50;}
.st181{display:inline;fill:#272E66;}
.st182{display:inline;fill:#ED6B9E;}
.st183{display:inline;fill:#382212;}
.st184{display:inline;fill:#F07F13;}
.st185{display:inline;fill:#4E0E19;}
.st186{fill:#C64A4B;}
.st187{fill:#F7F700;}
.st188{fill:#0D6F50;}
.st189{fill:#272E66;}
.st190{fill:#382212;}
.st191{fill:#ED6B9E;}
.st192{fill:#F07F13;}
.st193{fill:#4E0E19;}
.st194{display:inline;fill:#F5D803;}
.st195{font-family:'NotoSansBengali-Bold';}
.st196{display:inline;fill:#039E3F;}
.st197{display:inline;fill:#0C6492;}
.st198{display:inline;fill:#372821;}
.st199{display:inline;fill:#501A10;}
.st200{display:inline;fill:#EC98A3;}
.st201{display:inline;fill:#BB5366;}
.st202{display:inline;fill:#EB5D15;}
.st203{display:inline;fill:#A3A3A3;}
.st204{display:inline;fill:#ACA0B0;}
.st205{display:inline;fill:#73184C;}
.st206{display:inline;fill:#794594;}
.st207{display:inline;fill:#C285B7;}
.st208{display:inline;fill:#D01317;}
.st209{display:inline;fill:#F7AC09;}
.st210{fill:#D01317;}
.st211{fill:#F7AC09;}
.st212{fill:#F5D803;}
.st213{fill:#039E3F;}
.st214{fill:#0C6492;}
.st215{fill:#372821;}
.st216{fill:#501A10;}
.st217{fill:#EC98A3;}
.st218{fill:#BB5366;}
.st219{fill:#EB5D15;}
.st220{fill:#A3A3A3;}
.st221{fill:#ACA0B0;}
.st222{fill:#73184C;}
.st223{fill:#794594;}
.st224{fill:#C285B7;}
.st225{font-family:'NotoSansDevanagari-Bold';}
.st226{display:inline;fill:#CE1417;}
.st227{display:inline;fill:#EBB60D;}
.st228{display:inline;fill:#2A7C66;}
.st229{display:inline;fill:#23418D;}
.st230{fill:#CE1417;}
.st231{fill:#EBB60D;}
.st232{fill:#2A7C66;}
.st233{fill:#23418D;}
.st234{clip-path:url(#SVGID_56_);}
.st235{clip-path:url(#SVGID_58_);}
.st236{clip-path:url(#SVGID_60_);}
.st237{clip-path:url(#SVGID_62_);}
.st238{clip-path:url(#SVGID_64_);}
.st239{display:inline;fill:#CA151A;}
.st240{display:inline;fill:#315431;}
.st241{display:inline;fill:#549A83;}
.st242{display:inline;fill:#3282A9;}
.st243{display:inline;fill:#713C28;}
.st244{display:inline;fill:#29160D;}
.st245{display:inline;fill:#EC6578;}
.st246{display:inline;fill:#D46A13;}
.st247{display:inline;fill:#F49F21;}
.st248{display:inline;fill:#515150;}
.st249{display:inline;fill:#B8C8B7;}
.st250{display:inline;fill:#7259A2;}
.st251{display:inline;fill:#80366B;}
.st252{fill:#CA151A;}
.st253{fill:#315431;}
.st254{fill:#549A83;}
.st255{fill:#3282A9;}
.st256{fill:#713C28;}
.st257{fill:#29160D;}
.st258{fill:#EC6578;}
.st259{fill:#D46A13;}
.st260{fill:#F49F21;}
.st261{fill:#515150;}
.st262{fill:#B8C8B7;}
.st263{fill:#7259A2;}
.st264{fill:#80366B;}
.st265{display:inline;fill:#A92226;}
.st266{display:inline;fill:#3E955E;}
.st267{display:inline;fill:#107BB9;}
.st268{display:inline;fill:#7E5739;}
.st269{display:inline;fill:#EE79AD;}
.st270{display:inline;fill:#EE7323;}
.st271{display:inline;fill:#ABACB2;}
.st272{display:inline;fill:#AC8BBC;}
.st273{display:inline;fill:#6B3089;}
.st274{fill:#A92226;}
.st275{fill:#3E955E;}
.st276{fill:#107BB9;}
.st277{fill:#7E5739;}
.st278{fill:#EE79AD;}
.st279{fill:#EE7323;}
.st280{fill:#ABACB2;}
.st281{fill:#AC8BBC;}
.st282{fill:#6B3089;}
.st283{fill:#E44234;}
.st284{fill:#D5161E;}
.st285{fill:#F2E534;}
.st286{fill:#58A132;}
.st287{fill:#6D4526;}
.st288{fill:#331011;}
.st289{fill:#EA5294;}
.st290{fill:#EE7016;}
.st291{fill:#792684;}
.st292{fill:#711F61;}
.st293{fill:#814997;}
.st294{fill:#582673;}
.st295{display:inline;fill:#CF141B;}
.st296{display:inline;fill:#F4DC0D;}
.st297{display:inline;fill:#63993F;}
.st298{display:inline;fill:#195A75;}
.st299{display:inline;fill:#482718;}
.st300{display:inline;fill:#CB809E;}
.st301{display:inline;fill:#E87730;}
.st302{display:inline;fill:#784C99;}
.st303{fill:#CF141B;}
.st304{fill:#F4DC0D;}
.st305{fill:#63993F;}
.st306{fill:#195A75;}
.st307{fill:#482718;}
.st308{fill:#CB809E;}
.st309{fill:#E87730;}
.st310{fill:#784C99;}
.st311{clip-path:url(#SVGID_66_);}
.st312{font-family:'NotoSansCherokee-Bold';}
.st313{display:inline;fill:#7E7F7F;}
.st314{display:inline;fill:#9B4C97;}
.st315{fill:#E52328;}
.st316{fill:#FDEC00;}
.st317{fill:#36AB4F;}
.st318{fill:#0764A6;}
.st319{fill:#B87956;}
.st320{fill:#F4ABC6;}
.st321{fill:#EF7C2F;}
.st322{fill:#7E7F7F;}
.st323{fill:#9B4C97;}
.st324{display:inline;fill:#1D1D1B;}
.st325{font-family:'NotoSansCJKjp-Black-83pv-RKSJ-H';}
.st326{font-size:12px;}
.st327{display:inline;fill:#DC0C16;}
.st328{fill:#1D1D1B;}
.st329{display:inline;fill:#F2EC1C;}
.st330{display:inline;fill:#36874F;}
.st331{display:inline;fill:#294D9D;}
.st332{display:inline;fill:#542C1D;}
.st333{display:inline;fill:#F4B4D2;}
.st334{display:inline;fill:#F3A12B;}
.st335{display:inline;fill:#6F787F;}
.st336{display:inline;fill:#54368D;}
.st337{fill:#DC0C16;}
.st338{fill:#F2EC1C;}
.st339{fill:#36874F;}
.st340{fill:#294D9D;}
.st341{fill:#542C1D;}
.st342{fill:#F4B4D2;}
.st343{fill:#F3A12B;}
.st344{fill:#6F787F;}
.st345{fill:#54368D;}
.st346{display:inline;fill:#F6DA16;}
.st347{display:inline;fill:#49A534;}
.st348{font-family:'NotoSans-Medium';}
.st349{display:inline;fill:#40B17E;}
.st350{display:inline;fill:#4A8AC9;}
.st351{display:inline;fill:#253671;}
.st352{display:inline;fill:#6A4D3A;}
.st353{display:inline;fill:#552E1B;}
.st354{fill:#6A4D3A;}
.st355{display:inline;fill:#ECB7BD;}
.st356{display:inline;fill:#E94E14;}
.st357{display:inline;fill:#CF141C;}
.st358{fill:#CF141C;}
.st359{fill:#F6DA16;}
.st360{fill:#49A534;}
.st361{fill:#40B17E;}
.st362{fill:#4A8AC9;}
.st363{fill:#253671;}
.st364{fill:#7E381B;}
.st365{fill:#552E1B;}
.st366{fill:#ECB7BD;}
.st367{fill:#E94E14;}
.st368{display:inline;fill:#E41F1A;}
.st369{display:inline;fill:#F5F70D;}
.st370{display:inline;fill:#14A74E;}
.st371{display:inline;fill:#4987B9;}
.st372{display:inline;fill:#8C5222;}
.st373{display:inline;fill:#E96092;}
.st374{display:inline;fill:#E66A0B;}
.st375{display:inline;fill:#5D3560;}
.st376{display:inline;fill:#C8C1BA;}
.st377{fill:#E41F1A;}
.st378{fill:#F5F70D;}
.st379{fill:#14A74E;}
.st380{fill:#4987B9;}
.st381{fill:#8C5222;}
.st382{fill:#E96092;}
.st383{fill:#E66A0B;}
.st384{fill:#C8C1BA;}
.st385{fill:#5D3560;}
.st386{display:inline;fill:#E52324;}
.st387{display:inline;fill:#F7E111;}
.st388{display:inline;fill:#849037;}
.st389{display:inline;fill:#314520;}
.st390{display:inline;fill:#4298A5;}
.st391{display:inline;fill:#BD6943;}
.st392{display:inline;fill:#461A12;}
.st393{display:inline;fill:#D66379;}
.st394{display:inline;fill:#EA7A0F;}
.st395{display:inline;fill:#5C5D62;}
.st396{display:inline;fill:#887D79;}
.st397{display:inline;fill:#6F266B;}
.st398{display:inline;fill:#B897C6;}
.st399{display:inline;fill:#EAA8C4;}
.st400{fill:#E52324;}
.st401{fill:#F7E111;}
.st402{fill:#849037;}
.st403{fill:#314520;}
.st404{fill:#4298A5;}
.st405{fill:#BD6943;}
.st406{fill:#461A12;}
.st407{fill:#EAA8C4;}
.st408{fill:#D66379;}
.st409{fill:#EA7A0F;}
.st410{fill:#5C5D62;}
.st411{fill:#887D79;}
.st412{fill:#6F266B;}
.st413{fill:#B897C6;}
.st414{display:inline;fill:#D42324;}
.st415{display:inline;fill:#F6E93F;}
.st416{display:inline;fill:#2A9F3A;}
.st417{display:inline;fill:#277F9F;}
.st418{display:inline;fill:#412B21;}
.st419{display:inline;fill:#7E4F3A;}
.st420{display:inline;fill:#F29FC2;}
.st421{display:inline;fill:#969696;}
.st422{display:inline;fill:#9A6DAC;}
.st423{display:inline;fill:#E35F16;}
.st424{fill:#D42324;}
.st425{fill:#F6E93F;}
.st426{fill:#2A9F3A;}
.st427{fill:#277F9F;}
.st428{fill:#412B21;}
.st429{fill:#7E4F3A;}
.st430{fill:#F29FC2;}
.st431{fill:#E35F16;}
.st432{fill:#969696;}
.st433{fill:#9A6DAC;}
.st434{display:inline;fill:#D41116;}
.st435{display:inline;fill:#F2DC0C;}
.st436{display:inline;fill:#1A5D2B;}
.st437{display:inline;fill:#2F94D1;}
.st438{display:inline;fill:#673C1E;}
.st439{display:inline;fill:#B85078;}
.st440{display:inline;fill:#ED811E;}
.st441{display:inline;fill:#743B8F;}
.st442{display:inline;fill:#7D7C7C;}
.st443{fill:#D41116;}
.st444{fill:#F2DC0C;}
.st445{fill:#1A5D2B;}
.st446{fill:#2F94D1;}
.st447{fill:#673C1E;}
.st448{fill:#B85078;}
.st449{fill:#ED811E;}
.st450{fill:#7D7C7C;}
.st451{fill:#743B8F;}
.st452{display:inline;fill:#DB1415;}
.st453{display:inline;fill:#A6182B;}
.st454{display:inline;fill:#F1D72A;}
.st455{display:inline;fill:#3DA136;}
.st456{display:inline;fill:#2C60AB;}
.st457{display:inline;fill:#603A23;}
.st458{display:inline;fill:#E71A80;}
.st459{display:inline;fill:#E85F0C;}
.st460{display:inline;fill:#88898B;}
.st461{display:inline;fill:#44235C;}
.st462{display:inline;fill:#B8B9B5;}
.st463{fill:#DB1415;}
.st464{fill:#A6182B;}
.st465{fill:#F1D72A;}
.st466{fill:#3DA136;}
.st467{fill:#2C60AB;}
.st468{fill:#603A23;}
.st469{fill:#E71A80;}
.st470{fill:#E85F0C;}
.st471{fill:#B8B9B5;}
.st472{fill:#88898B;}
.st473{fill:#44235C;}
.st474{display:inline;fill:#D51119;}
.st475{display:inline;fill:#F0BA0A;}
.st476{display:inline;fill:#388D36;}
.st477{display:inline;fill:#1B3762;}
.st478{display:inline;fill:#563722;}
.st479{display:inline;fill:#EB78AD;}
.st480{display:inline;fill:#EE7212;}
.st481{display:inline;fill:#9F85BC;}
.st482{display:inline;fill:#A3A2A4;}
.st483{fill:#D51119;}
.st484{fill:#F0BA0A;}
.st485{fill:#388D36;}
.st486{fill:#1B3762;}
.st487{fill:#563722;}
.st488{fill:#EB78AD;}
.st489{fill:#EE7212;}
.st490{fill:#A3A2A4;}
.st491{fill:#9F85BC;}
.st492{display:inline;fill:#DF0A1B;}
.st493{display:inline;fill:#F5F63A;}
.st494{display:inline;fill:#A8C81E;}
.st495{display:inline;fill:#1A67B0;}
.st496{display:inline;fill:#874E2E;}
.st497{display:inline;fill:#F18FAA;}
.st498{display:inline;fill:#EE721E;}
.st499{display:inline;fill:#773089;}
.st500{display:inline;fill:#B5B5B5;}
.st501{fill:#DF0A1B;}
.st502{fill:#F5F63A;}
.st503{fill:#A8C81E;}
.st504{fill:#1A67B0;}
.st505{fill:#874E2E;}
.st506{fill:#F18FAA;}
.st507{fill:#EE721E;}
.st508{fill:#B5B5B5;}
.st509{fill:#773089;}
.st510{display:inline;fill:#D24816;}
.st511{display:inline;fill:#F0E644;}
.st512{display:inline;fill:#6BB869;}
.st513{display:inline;fill:#2C7E97;}
.st514{fill:#D24816;}
.st515{fill:#F0E644;}
.st516{fill:#6BB869;}
.st517{fill:#2C7E97;}
.st518{clip-path:url(#SVGID_68_);}
.st519{clip-path:url(#SVGID_70_);}
.st520{clip-path:url(#SVGID_72_);}
.st521{clip-path:url(#SVGID_74_);}
.st522{clip-path:url(#SVGID_76_);}
.st523{display:inline;fill:none;}
.st524{display:inline;fill:#F4D41A;}
.st525{display:inline;fill:#60B348;}
.st526{display:inline;fill:#2C4A9A;}
.st527{display:inline;fill:#5B2D16;}
.st528{display:inline;fill:#EB66A2;}
.st529{display:inline;fill:#EB600E;}
.st530{display:inline;fill:#734293;}
.st531{display:inline;fill:#8C9095;}
.st532{fill:#F4D41A;}
.st533{fill:#60B348;}
.st534{fill:#2C4A9A;}
.st535{fill:#5B2D16;}
.st536{fill:#EB66A2;}
.st537{fill:#EB600E;}
.st538{fill:#8C9095;}
.st539{fill:#734293;}
.st540{display:inline;fill:#A7191D;}
.st541{display:inline;fill:#EAD81D;}
.st542{display:inline;fill:#6CA8D3;}
.st543{display:inline;fill:#89512E;}
.st544{display:inline;fill:#E87B9D;}
.st545{display:inline;fill:#ED6B1F;}
.st546{display:inline;fill:#94918F;}
.st547{display:inline;fill:#A6569D;}
.st548{fill:#A7191D;}
.st549{fill:#EAD81D;}
.st550{fill:#6DB859;}
.st551{fill:#6CA8D3;}
.st552{fill:#89512E;}
.st553{fill:#E87B9D;}
.st554{fill:#ED6B1F;}
.st555{fill:#94918F;}
.st556{fill:#A6569D;}
.st557{display:inline;fill:#D32A16;}
.st558{display:inline;fill:#6B9E51;}
.st559{display:inline;fill:#2C7276;}
.st560{fill:#D32A16;}
.st561{fill:#6B9E51;}
.st562{fill:#2C7276;}
.st563{clip-path:url(#SVGID_78_);}
.st564{clip-path:url(#SVGID_80_);}
.st565{clip-path:url(#SVGID_82_);}
.st566{clip-path:url(#SVGID_84_);}
.st567{clip-path:url(#SVGID_86_);}
.st568{display:inline;fill:#DF251B;}
.st569{display:inline;fill:#F0DD10;}
.st570{display:inline;fill:#237F35;}
.st571{display:inline;fill:#2D4A8D;}
.st572{display:inline;fill:#D492A6;}
.st573{display:inline;fill:#C53968;}
.st574{display:inline;fill:#727171;}
.st575{fill:#DF251B;}
.st576{fill:#F0DD10;}
.st577{fill:#237F35;}
.st578{fill:#2D4A8D;}
.st579{fill:#D492A6;}
.st580{fill:#C53968;}
.st581{fill:#727171;}
.st582{clip-path:url(#SVGID_88_);}
.st583{clip-path:url(#SVGID_90_);}
.st584{display:inline;fill:#DD0B14;}
.st585{display:inline;fill:#EBBE09;}
.st586{display:inline;fill:#6CB52D;}
.st587{display:inline;fill:#267331;}
.st588{display:inline;fill:#1C75BC;}
.st589{display:inline;fill:#09478B;}
.st590{display:inline;fill:#4C2112;}
.st591{display:inline;fill:#492C16;}
.st592{display:inline;fill:#E966A2;}
.st593{display:inline;fill:#E1772D;}
.st594{display:inline;fill:#767576;}
.st595{display:inline;fill:#878E89;}
.st596{display:inline;fill:#835DA4;}
.st597{display:inline;fill:#562B68;}
.st598{fill:#DD0B14;}
.st599{fill:#EBBE09;}
.st600{fill:#6CB52D;}
.st601{fill:#267331;}
.st602{fill:#1C75BC;}
.st603{fill:#09478B;}
.st604{fill:#4C2112;}
.st605{fill:#492C16;}
.st606{fill:#E966A2;}
.st607{fill:#E1772D;}
.st608{fill:#767576;}
.st609{fill:#878E89;}
.st610{fill:#835DA4;}
.st611{fill:#562B68;}
.st612{display:inline;fill:#E52717;}
.st613{display:inline;fill:#F3F318;}
.st614{display:inline;fill:#508C34;}
.st615{display:inline;fill:#2E54A1;}
.st616{display:inline;fill:#552A11;}
.st617{display:inline;fill:#BD4995;}
.st618{display:inline;fill:#DB4D14;}
.st619{display:inline;fill:#752E88;}
.st620{display:inline;fill:#8D8F92;}
.st621{fill:#E52717;}
.st622{fill:#F3F318;}
.st623{fill:#508C34;}
.st624{fill:#2E54A1;}
.st625{fill:#552A11;}
.st626{fill:#BD4995;}
.st627{fill:#DB4D14;}
.st628{fill:#8D8F92;}
.st629{fill:#752E88;}
.st630{fill:#E40E25;}
.st631{fill:#F0E51B;}
.st632{fill:#40AB35;}
.st633{fill:#3A5BA7;}
.st634{fill:#782D2E;}
.st635{fill:#6A432A;}
.st636{fill:#CF4A83;}
.st637{fill:#B3B6B4;}
.st638{fill:#692369;}
.st639{fill:#E9640B;}
.st640{display:inline;fill:#9E1915;}
.st641{display:inline;fill:#ECCF0C;}
.st642{display:inline;fill:#3EAD5C;}
.st643{display:inline;fill:#257FB9;}
.st644{display:inline;fill:#4D3831;}
.st645{display:inline;fill:#EA5D8C;}
.st646{display:inline;fill:#E95119;}
.st647{display:inline;fill:#A63089;}
.st648{display:inline;fill:#77787D;}
.st649{fill:#9E1915;}
.st650{fill:#ECCF0C;}
.st651{fill:#3EAD5C;}
.st652{fill:#257FB9;}
.st653{fill:#4D3831;}
.st654{fill:#EA5D8C;}
.st655{fill:#E95119;}
.st656{fill:#77787D;}
.st657{fill:#A63089;}
.st658{display:inline;fill:#E40E25;}
.st659{display:inline;fill:#F0E51B;}
.st660{display:inline;fill:#40AB35;}
.st661{display:inline;fill:#3A5BA7;}
.st662{display:inline;fill:#782D2E;}
.st663{display:inline;fill:#6A432A;}
.st664{display:inline;fill:#CF4A83;}
.st665{display:inline;fill:#B3B6B4;}
.st666{display:inline;fill:#692369;}
.st667{display:inline;fill:#E9640B;}
.st668{display:inline;fill:#BD2B18;}
.st669{display:inline;fill:#DEDD26;}
.st670{display:inline;fill:#70912C;}
.st671{display:inline;fill:#2E4C9C;}
.st672{fill:#BD2B18;}
.st673{fill:#DEDD26;}
.st674{fill:#70912C;}
.st675{fill:#2E4C9C;}
.st676{clip-path:url(#SVGID_92_);}
.st677{clip-path:url(#SVGID_94_);}
.st678{clip-path:url(#SVGID_96_);}
.st679{clip-path:url(#SVGID_98_);}
.st680{clip-path:url(#SVGID_100_);}
.st681{display:inline;fill:#E52D1D;}
.st682{display:inline;fill:#DBDE52;}
.st683{display:inline;fill:#6F9D45;}
.st684{display:inline;fill:#3756A3;}
.st685{fill:#E52D1D;}
.st686{fill:#DBDE52;}
.st687{fill:#6F9D45;}
.st688{fill:#3756A3;}
.st689{clip-path:url(#SVGID_102_);}
.st690{clip-path:url(#SVGID_104_);}
.st691{clip-path:url(#SVGID_106_);}
.st692{clip-path:url(#SVGID_108_);}
.st693{clip-path:url(#SVGID_110_);}
.st694{display:inline;fill:#D71F2D;}
.st695{display:inline;fill:#F1D514;}
.st696{display:inline;fill:#3AA84B;}
.st697{display:inline;fill:#2FADD0;}
.st698{display:inline;fill:#346BB3;}
.st699{display:inline;fill:#784311;}
.st700{display:inline;fill:#F5BBCB;}
.st701{display:inline;fill:#E63B14;}
.st702{display:inline;fill:#9D9D9D;}
.st703{display:inline;fill:#682985;}
.st704{fill:#D71F2D;}
.st705{fill:#F1D514;}
.st706{fill:#3AA84B;}
.st707{fill:#2FADD0;}
.st708{fill:#346BB3;}
.st709{fill:#784311;}
.st710{fill:#F5BBCB;}
.st711{fill:#E63B14;}
.st712{fill:#9D9D9D;}
.st713{fill:#682985;}
.st714{fill:#8C1524;}
.st715{fill:#FFDD17;}
.st716{fill:#34933F;}
.st717{fill:#32B7D6;}
.st718{fill:#26517F;}
.st719{fill:#874815;}
.st720{fill:#F4AECE;}
.st721{fill:#E5641C;}
.st722{fill:#AFAFAF;}
.st723{fill:#52226B;}
.st724{font-family:'NotoSansHebrew-Bold';}
.st725{display:inline;fill:#A3C9EC;}
.st726{display:inline;fill:#2A4193;}
.st727{display:inline;fill:#4B2610;}
.st728{display:inline;fill:#EFADCE;}
.st729{display:inline;fill:#F18628;}
.st730{display:inline;fill:#9599A1;}
.st731{display:inline;fill:#714293;}
.st732{display:inline;fill:#018D38;}
.st733{fill:#018D38;}
.st734{fill:#A3C9EC;}
.st735{fill:#2A4193;}
.st736{fill:#4B2610;}
.st737{fill:#EFADCE;}
.st738{fill:#F18628;}
.st739{fill:#9599A1;}
.st740{fill:#714293;}
.st741{fill:#EA4B94;}
.st742{fill:#E87308;}
.st743{fill:#C3C4C2;}
.st744{fill:#6B3C90;}
.st745{fill:#C71618;}
.st746{fill:#F3E801;}
.st747{fill:#24388D;}
.st748{fill:#753D10;}
.st749{fill:#E01B25;}
.st750{fill:#F2CA20;}
.st751{fill:#248937;}
.st752{fill:#2D4BAA;}
.st753{fill:#844013;}
.st754{fill:#E869BB;}
.st755{fill:#E56D1C;}
.st756{fill:#DDDDDD;}
.st757{fill:#5D3782;}
.st758{display:inline;fill:#0D9038;}
.st759{display:inline;fill:#6C3022;}
.st760{display:inline;fill:#D371AA;}
.st761{display:inline;fill:#EB5E1D;}
.st762{display:inline;fill:#7E398E;}
.st763{display:inline;fill:#A0A09F;}
.st764{fill:#0D9038;}
.st765{fill:#6C3022;}
.st766{fill:#D371AA;}
.st767{fill:#EB5E1D;}
.st768{fill:#A0A09F;}
.st769{fill:#7E398E;}
.st770{display:inline;fill:#E21019;}
.st771{display:inline;fill:#F0E635;}
.st772{display:inline;fill:#008737;}
.st773{display:inline;fill:#4CAFDE;}
.st774{display:inline;fill:#23366B;}
.st775{display:inline;fill:#613429;}
.st776{display:inline;fill:#EF9AA8;}
.st777{display:inline;fill:#6C4796;}
.st778{display:inline;fill:#EE751B;}
.st779{fill:#E21019;}
.st780{fill:#F0E635;}
.st781{fill:#008737;}
.st782{fill:#4CAFDE;}
.st783{fill:#23366B;}
.st784{fill:#613429;}
.st785{fill:#EF9AA8;}
.st786{fill:#EE751B;}
.st787{fill:#6C4796;}
.st788{clip-path:url(#SVGID_112_);}
.st789{clip-path:url(#SVGID_114_);}
.st790{clip-path:url(#SVGID_116_);}
.st791{clip-path:url(#SVGID_118_);}
.st792{clip-path:url(#SVGID_120_);}
.st793{font-family:'NotoSansCJKjp-Bold-83pv-RKSJ-H';}
.st794{display:inline;fill:#E41B13;}
.st795{display:inline;fill:#931914;}
.st796{display:inline;fill:#F0E74B;}
.st797{display:inline;fill:#2D4D9D;}
.st798{display:inline;fill:#965B35;}
.st799{display:inline;fill:#EA5428;}
.st800{display:inline;fill:#F08023;}
.st801{display:inline;fill:#908F8F;}
.st802{display:inline;fill:#A9A9A9;}
.st803{display:inline;fill:#814594;}
.st804{fill:#E8589A;}
.st805{fill:#E41B13;}
.st806{fill:#931914;}
.st807{fill:#F0E74B;}
.st808{fill:#2D4D9D;}
.st809{fill:#965B35;}
.st810{fill:#EA5428;}
.st811{fill:#F08023;}
.st812{fill:#908F8F;}
.st813{fill:#A9A9A9;}
.st814{fill:#814594;}
.st815{display:inline;fill:#DC1D28;}
.st816{display:inline;fill:#F5F303;}
.st817{display:inline;fill:#2EA836;}
.st818{display:inline;fill:#2F4798;}
.st819{display:inline;fill:#37110E;}
.st820{display:inline;fill:#EB9998;}
.st821{display:inline;fill:#EF8E1D;}
.st822{display:inline;fill:#752774;}
.st823{fill:#DC1D28;}
.st824{fill:#F5F303;}
.st825{fill:#2EA836;}
.st826{fill:#2F4798;}
.st827{fill:#37110E;}
.st828{fill:#EB9998;}
.st829{fill:#EF8E1D;}
.st830{fill:#752774;}
.st831{display:inline;fill:#B92518;}
.st832{display:inline;fill:#F2D232;}
.st833{display:inline;fill:#7AB24A;}
.st834{display:inline;fill:#145AA1;}
.st835{fill:#B92518;}
.st836{fill:#F2D232;}
.st837{fill:#7AB24A;}
.st838{fill:#145AA1;}
.st839{clip-path:url(#SVGID_122_);}
.st840{clip-path:url(#SVGID_124_);}
.st841{clip-path:url(#SVGID_126_);}
.st842{clip-path:url(#SVGID_128_);}
.st843{clip-path:url(#SVGID_130_);}
.st844{display:inline;fill:#C01636;}
.st845{display:inline;fill:#6B925B;}
.st846{display:inline;fill:#2D4697;}
.st847{display:inline;fill:#866038;}
.st848{display:inline;fill:#E19AC3;}
.st849{display:inline;fill:#EB620E;}
.st850{display:inline;fill:#CBCAC9;}
.st851{display:inline;fill:#564797;}
.st852{fill:#C01636;}
.st853{fill:#6B925B;}
.st854{fill:#2D4697;}
.st855{fill:#866038;}
.st856{fill:#E19AC3;}
.st857{fill:#EB620E;}
.st858{fill:#CBCAC9;}
.st859{fill:#564797;}
.st860{display:inline;fill:#D51028;}
.st861{display:inline;fill:#F5DF0B;}
.st862{display:inline;fill:#0B9041;}
.st863{display:inline;fill:#2F3F92;}
.st864{display:inline;fill:#400F11;}
.st865{display:inline;fill:#D8638B;}
.st866{display:inline;fill:#E95314;}
.st867{display:inline;fill:#88898A;}
.st868{display:inline;fill:#804F9B;}
.st869{fill:#D51028;}
.st870{fill:#F5DF0B;}
.st871{fill:#0B9041;}
.st872{fill:#2F3F92;}
.st873{fill:#400F11;}
.st874{fill:#D8638B;}
.st875{fill:#E95314;}
.st876{fill:#88898A;}
.st877{fill:#804F9B;}
.st878{font-family:'NotoSansThaana-Regular';}
.st879{fill:#AE191F;}
.st880{display:inline;fill:#AE191F;}
.st881{fill:#0DA276;}
.st882{display:inline;fill:#0DA276;}
.st883{fill:#1C59A6;}
.st884{display:inline;fill:#1C59A6;}
.st885{clip-path:url(#SVGID_132_);}
.st886{clip-path:url(#SVGID_134_);}
.st887{clip-path:url(#SVGID_136_);}
.st888{clip-path:url(#SVGID_138_);}
.st889{clip-path:url(#SVGID_140_);}
.st890{clip-path:url(#SVGID_142_);}
.st891{display:inline;fill:#CF2D34;}
.st892{display:inline;fill:#FFCE2F;}
.st893{display:inline;fill:#598C30;}
.st894{display:inline;fill:#234E9E;}
.st895{display:inline;fill:#7B6037;}
.st896{display:inline;fill:#BF2B87;}
.st897{display:inline;fill:#F0901D;}
.st898{display:inline;fill:#533476;}
.st899{display:inline;fill:#737478;}
.st900{fill:#CF2D34;}
.st901{fill:#FFCE2F;}
.st902{fill:#598C30;}
.st903{fill:#234E9E;}
.st904{fill:#7B6037;}
.st905{fill:#BF2B87;}
.st906{fill:#F0901D;}
.st907{fill:#737478;}
.st908{fill:#533476;}
.st909{clip-path:url(#SVGID_144_);}
.st910{clip-path:url(#SVGID_146_);}
.st911{clip-path:url(#SVGID_148_);}
.st912{clip-path:url(#SVGID_150_);}
.st913{clip-path:url(#SVGID_152_);}
.st914{display:inline;fill:#E2271C;}
.st915{display:inline;fill:#F7E449;}
.st916{display:inline;fill:#599460;}
.st917{display:inline;fill:#2167B1;}
.st918{fill:#E2271C;}
.st919{fill:#F7E449;}
.st920{fill:#599460;}
.st921{fill:#2167B1;}
.st922{clip-path:url(#SVGID_154_);}
.st923{clip-path:url(#SVGID_156_);}
.st924{clip-path:url(#SVGID_158_);}
.st925{clip-path:url(#SVGID_160_);}
.st926{clip-path:url(#SVGID_162_);}
.st927{display:inline;fill:#BD172D;}
.st928{display:inline;fill:#E62734;}
.st929{display:inline;fill:#F3CF0D;}
.st930{display:inline;fill:#017F3E;}
.st931{display:inline;fill:#4F84C4;}
.st932{display:inline;fill:#622F1B;}
.st933{display:inline;fill:#CB5590;}
.st934{display:inline;fill:#4D4D4D;}
.st935{display:inline;fill:#67328A;}
.st936{display:inline;fill:#EA7A09;}
.st937{fill:#BD172D;}
.st938{fill:#E62734;}
.st939{fill:#F3CF0D;}
.st940{fill:#017F3E;}
.st941{fill:#4F84C4;}
.st942{fill:#622F1B;}
.st943{fill:#CB5590;}
.st944{fill:#EA7A09;}
.st945{fill:#4D4D4D;}
.st946{fill:#67328A;}
.st947{display:inline;fill:#CB2429;}
.st948{display:inline;fill:#F7D604;}
.st949{display:inline;fill:#077D35;}
.st950{display:inline;fill:#4CA834;}
.st951{display:inline;fill:#91BC67;}
.st952{display:inline;fill:#ADD084;}
.st953{display:inline;fill:#1C88BA;}
.st954{display:inline;fill:#46699C;}
.st955{display:inline;fill:#245EA9;}
.st956{display:inline;fill:#26336C;}
.st957{display:inline;fill:#1C1F40;}
.st958{display:inline;fill:#1A2440;}
.st959{display:inline;fill:#492D1F;}
.st960{display:inline;fill:#210F11;}
.st961{display:inline;fill:#752518;}
.st962{display:inline;fill:#8A622F;}
.st963{display:inline;fill:#28191B;}
.st964{display:inline;fill:#E12C74;}
.st965{display:inline;fill:#ED7883;}
.st966{display:inline;fill:#FAD1D1;}
.st967{display:inline;fill:#992771;}
.st968{display:inline;fill:#5F2B7F;}
.st969{display:inline;fill:#8D7AB9;}
.st970{display:inline;fill:#F59B0A;}
.st971{display:inline;fill:#606073;}
.st972{display:inline;fill:#8F8F94;}
.st973{display:inline;fill:#5E1118;}
.st974{display:inline;fill:#D25A1C;}
.st975{fill:#EAE8DD;}
.st976{fill:#CB2429;}
.st977{fill:#F7D604;}
.st978{fill:#077D35;}
.st979{fill:#4CA834;}
.st980{fill:#91BC67;}
.st981{fill:#ADD084;}
.st982{fill:#1C88BA;}
.st983{fill:#46699C;}
.st984{fill:#245EA9;}
.st985{fill:#26336C;}
.st986{fill:#1C1F40;}
.st987{fill:#1A2440;}
.st988{fill:#492D1F;}
.st989{fill:#210F11;}
.st990{fill:#752518;}
.st991{fill:#5E1118;}
.st992{fill:#8A622F;}
.st993{fill:#28191B;}
.st994{fill:#E12C74;}
.st995{fill:#ED7883;}
.st996{fill:#FAD1D1;}
.st997{fill:#D25A1C;}
.st998{fill:#F59B0A;}
.st999{fill:#606073;}
.st1000{fill:#8F8F94;}
.st1001{fill:#992771;}
.st1002{fill:#5F2B7F;}
.st1003{fill:#8D7AB9;}
.st1004{display:inline;fill:#E41B15;}
.st1005{display:inline;fill:#F6C226;}
.st1006{display:inline;fill:#5CBA9B;}
.st1007{display:inline;fill:#237BAA;}
.st1008{fill:#E41B15;}
.st1009{fill:#F6C226;}
.st1010{fill:#5CBA9B;}
.st1011{fill:#237BAA;}
.st1012{clip-path:url(#SVGID_164_);}
.st1013{clip-path:url(#SVGID_166_);}
.st1014{clip-path:url(#SVGID_168_);}
.st1015{clip-path:url(#SVGID_170_);}
.st1016{clip-path:url(#SVGID_172_);}
.st1017{clip-path:url(#SVGID_174_);}
.st1018{display:inline;fill:#F8DB00;}
.st1019{display:inline;fill:#0C8D66;}
.st1020{display:inline;fill:#2D7286;}
.st1021{fill:#F8DB00;}
.st1022{fill:#0C8D66;}
.st1023{fill:#2D7286;}
.st1024{clip-path:url(#SVGID_176_);}
.st1025{clip-path:url(#SVGID_178_);}
.st1026{clip-path:url(#SVGID_180_);}
.st1027{clip-path:url(#SVGID_182_);}
.st1028{clip-path:url(#SVGID_184_);}
.st1029{display:inline;fill:#F4C200;}
.st1030{display:inline;fill:#025039;}
.st1031{display:inline;fill:#243F92;}
.st1032{fill:#F4C200;}
.st1033{fill:#025039;}
.st1034{fill:#243F92;}
.st1035{clip-path:url(#SVGID_186_);}
.st1036{clip-path:url(#SVGID_188_);}
.st1037{clip-path:url(#SVGID_190_);}
.st1038{clip-path:url(#SVGID_192_);}
.st1039{clip-path:url(#SVGID_194_);}
.st1040{display:inline;fill:#027135;}
.st1041{display:inline;fill:#3D1511;}
.st1042{display:inline;fill:#A24F98;}
.st1043{display:inline;fill:#EB6018;}
.st1044{display:inline;fill:#808184;}
.st1045{display:inline;fill:#63398E;}
.st1046{fill:#027135;}
.st1047{fill:#3D1511;}
.st1048{fill:#A24F98;}
.st1049{fill:#EB6018;}
.st1050{fill:#808184;}
.st1051{fill:#63398E;}
.st1052{display:inline;fill:#0C100C;}
.st1053{display:inline;fill:#941D25;}
.st1054{display:inline;fill:#FEEB17;}
.st1055{display:inline;fill:#F3EB78;}
.st1056{display:inline;fill:#A2C638;}
.st1057{display:inline;fill:#67E000;}
.st1058{display:inline;fill:#00C760;}
.st1059{display:inline;fill:#349436;}
.st1060{display:inline;fill:#67C3CF;}
.st1061{display:inline;fill:#2D519F;}
.st1062{display:inline;fill:#362971;}
.st1063{display:inline;fill:#7C5D29;}
.st1064{display:inline;fill:#6F5250;}
.st1065{display:inline;fill:#422D1E;}
.st1066{display:inline;fill:#E25D96;}
.st1067{display:inline;fill:#F8AB10;}
.st1068{display:inline;fill:#525252;}
.st1069{display:inline;fill:#B0AFAE;}
.st1070{display:inline;fill:#7803E4;}
.st1071{fill:#0C100C;}
.st1072{fill:#941D25;}
.st1073{fill:#FEEB17;}
.st1074{fill:#F3EB78;}
.st1075{fill:#A2C638;}
.st1076{fill:#67E000;}
.st1077{fill:#00C760;}
.st1078{fill:#349436;}
.st1079{fill:#67C3CF;}
.st1080{fill:#2D519F;}
.st1081{fill:#362971;}
.st1082{fill:#7C5D29;}
.st1083{fill:#6F5250;}
.st1084{fill:#422D1E;}
.st1085{fill:#E25D96;}
.st1086{fill:#F8AB10;}
.st1087{fill:#525252;}
.st1088{fill:#B0AFAE;}
.st1089{fill:#7803E4;}
.st1090{display:inline;fill:#DA0E15;}
.st1091{display:inline;fill:#FED421;}
.st1092{display:inline;fill:#1B672E;}
.st1093{display:inline;fill:#395DA8;}
.st1094{display:inline;fill:#9A5A38;}
.st1095{display:inline;fill:#EE7F80;}
.st1096{display:inline;fill:#DF4D12;}
.st1097{display:inline;fill:#4F2C86;}
.st1098{display:inline;fill:#C3C2C1;}
.st1099{fill:#DA0E15;}
.st1100{fill:#FED421;}
.st1101{fill:#1B672E;}
.st1102{fill:#395DA8;}
.st1103{fill:#9A5A38;}
.st1104{fill:#EE7F80;}
.st1105{fill:#DF4D12;}
.st1106{fill:#C3C2C1;}
.st1107{fill:#4F2C86;}
.st1108{display:inline;fill:#E41B1A;}
.st1109{display:inline;fill:#FECB16;}
.st1110{display:inline;fill:#15A55A;}
.st1111{display:inline;fill:#3862AB;}
.st1112{fill:#E41B1A;}
.st1113{fill:#FECB16;}
.st1114{fill:#15A55A;}
.st1115{fill:#3862AB;}
.st1116{clip-path:url(#SVGID_196_);}
.st1117{clip-path:url(#SVGID_198_);}
.st1118{clip-path:url(#SVGID_200_);}
.st1119{clip-path:url(#SVGID_202_);}
.st1120{clip-path:url(#SVGID_204_);}
.st1121{display:inline;fill:#C61B25;}
.st1122{display:inline;fill:#EBDF20;}
.st1123{display:inline;fill:#396735;}
.st1124{display:inline;fill:#532323;}
.st1125{display:inline;fill:#E24E96;}
.st1126{display:inline;fill:#EF8C1D;}
.st1127{display:inline;fill:#8057A0;}
.st1128{display:inline;fill:#494748;}
.st1129{fill:#C61B25;}
.st1130{fill:#EBDF20;}
.st1131{fill:#396735;}
.st1132{fill:#532323;}
.st1133{fill:#E24E96;}
.st1134{fill:#EF8C1D;}
.st1135{fill:#494748;}
.st1136{fill:#8057A0;}
.st1137{display:inline;fill:#EEE428;}
.st1138{display:inline;fill:#14A039;}
.st1139{display:inline;fill:#134380;}
.st1140{display:inline;fill:#522621;}
.st1141{display:inline;fill:#EF7DA2;}
.st1142{display:inline;fill:#ED6A2C;}
.st1143{display:inline;fill:#692D8C;}
.st1144{display:inline;fill:#A22065;}
.st1145{display:inline;fill:#A9A8A8;}
.st1146{fill:#EEE428;}
.st1147{fill:#14A039;}
.st1148{fill:#134380;}
.st1149{fill:#522621;}
.st1150{fill:#EF7DA2;}
.st1151{fill:#ED6A2C;}
.st1152{fill:#A9A8A8;}
.st1153{fill:#692D8C;}
.st1154{fill:#A22065;}
.st1155{display:inline;fill:#711E29;}
.st1156{display:inline;fill:#E63325;}
.st1157{display:inline;fill:#009539;}
.st1158{display:inline;fill:#F7D802;}
.st1159{display:inline;fill:#1F3D95;}
.st1160{display:inline;fill:#8F5A3D;}
.st1161{display:inline;fill:#4C2E15;}
.st1162{display:inline;fill:#EE759A;}
.st1163{display:inline;fill:#ED6928;}
.st1164{display:inline;fill:#F18811;}
.st1165{display:inline;fill:#939393;}
.st1166{display:inline;fill:#EC6415;}
.st1167{display:inline;fill:#A3A2A2;}
.st1168{display:inline;fill:#5D545F;}
.st1169{display:inline;fill:#5F2A86;}
.st1170{display:inline;fill:#7C1141;}
.st1171{display:inline;fill:#989CA4;}
.st1172{display:inline;fill:#634595;}
.st1173{fill:#711E29;}
.st1174{fill:#E63325;}
.st1175{fill:#F7D802;}
.st1176{fill:#009539;}
.st1177{fill:#1F3D95;}
.st1178{fill:#8F5A3D;}
.st1179{fill:#4C2E15;}
.st1180{fill:#EE759A;}
.st1181{fill:#ED6928;}
.st1182{fill:#F18811;}
.st1183{fill:#EC6415;}
.st1184{fill:#939393;}
.st1185{fill:#A3A2A2;}
.st1186{fill:#5D545F;}
.st1187{fill:#989CA4;}
.st1188{fill:#634595;}
.st1189{fill:#5F2A86;}
.st1190{fill:#7C1141;}
.st1191{display:inline;fill:#4C8772;}
.st1192{display:inline;fill:#005692;}
.st1193{fill:#4C8772;}
.st1194{fill:#005692;}
.st1195{clip-path:url(#SVGID_206_);}
.st1196{clip-path:url(#SVGID_208_);}
.st1197{clip-path:url(#SVGID_210_);}
.st1198{clip-path:url(#SVGID_212_);}
.st1199{clip-path:url(#SVGID_214_);}
.st1200{display:inline;fill:#E52322;}
.st1201{display:inline;fill:#199C95;}
.st1202{display:inline;fill:#204678;}
.st1203{display:inline;fill:#47352A;}
.st1204{fill:#E52322;}
.st1205{fill:#199C95;}
.st1206{fill:#204678;}
.st1207{fill:#47352A;}
.st1208{clip-path:url(#SVGID_216_);}
.st1209{clip-path:url(#SVGID_218_);}
.st1210{clip-path:url(#SVGID_220_);}
.st1211{clip-path:url(#SVGID_222_);}
.st1212{display:inline;fill:#C32226;}
.st1213{display:inline;fill:#EAE32E;}
.st1214{display:inline;fill:#02855B;}
.st1215{display:inline;fill:#3171B7;}
.st1216{fill:#C32226;}
.st1217{fill:#EAE32E;}
.st1218{fill:#02855B;}
.st1219{fill:#3171B7;}
.st1220{clip-path:url(#SVGID_224_);}
.st1221{clip-path:url(#SVGID_226_);}
.st1222{clip-path:url(#SVGID_228_);}
.st1223{clip-path:url(#SVGID_230_);}
.st1224{clip-path:url(#SVGID_232_);}
.st1225{display:inline;fill:#D90F16;}
.st1226{display:inline;fill:#F3D001;}
.st1227{display:inline;fill:#36AB4D;}
.st1228{display:inline;fill:#0866AE;}
.st1229{display:inline;fill:#2B1C12;}
.st1230{display:inline;fill:#E44E96;}
.st1231{display:inline;fill:#F07E23;}
.st1232{display:inline;fill:#654595;}
.st1233{display:inline;fill:#5B5957;}
.st1234{fill:#D90F16;}
.st1235{fill:#F3D001;}
.st1236{fill:#36AB4D;}
.st1237{fill:#0866AE;}
.st1238{fill:#2B1C12;}
.st1239{fill:#E44E96;}
.st1240{fill:#F07E23;}
.st1241{fill:#5B5957;}
.st1242{fill:#654595;}
.st1243{display:inline;fill:#B2271D;}
.st1244{display:inline;fill:#D61016;}
.st1245{display:inline;fill:#34AD6A;}
.st1246{display:inline;fill:#0001B3;}
.st1247{display:inline;fill:#72BEEB;}
.st1248{display:inline;fill:#7D3F11;}
.st1249{display:inline;fill:#F08BA9;}
.st1250{display:inline;fill:#F48302;}
.st1251{fill:#482681;}
.st1252{display:inline;fill:#7D4393;}
.st1253{display:inline;fill:#B093C4;}
.st1254{fill:#D61016;}
.st1255{fill:#B2271D;}
.st1256{fill:#34AD6A;}
.st1257{fill:#72BEEB;}
.st1258{fill:#0001B3;}
.st1259{fill:#7D3F11;}
.st1260{fill:#F08BA9;}
.st1261{fill:#F48302;}
.st1262{fill:#7D4393;}
.st1263{fill:#B093C4;}
.st1264{display:inline;fill:#DF372F;}
.st1265{display:inline;fill:#FEFF13;}
.st1266{display:inline;fill:#0C9C39;}
.st1267{display:inline;fill:#036B9D;}
.st1268{display:inline;fill:#A7521D;}
.st1269{display:inline;fill:#F6B2B2;}
.st1270{display:inline;fill:#EC6917;}
.st1271{display:inline;fill:#693C90;}
.st1272{display:inline;fill:#A09E9E;}
.st1273{fill:#DF372F;}
.st1274{fill:#FEFF13;}
.st1275{fill:#0C9C39;}
.st1276{fill:#036B9D;}
.st1277{fill:#A7521D;}
.st1278{fill:#F6B2B2;}
.st1279{fill:#EC6917;}
.st1280{fill:#A09E9E;}
.st1281{fill:#693C90;}
.st1282{display:inline;fill:#024F90;}
.st1283{display:inline;fill:#703E2F;}
.st1284{display:inline;fill:#DF6188;}
.st1285{display:inline;fill:#E2B2D4;}
.st1286{display:inline;fill:#E97C0A;}
.st1287{fill:#024F90;}
.st1288{fill:#703E2F;}
.st1289{fill:#DF6188;}
.st1290{fill:#E2B2D4;}
.st1291{fill:#E97C0A;}
.st1292{clip-path:url(#SVGID_234_);}
.st1293{display:inline;fill:#A71916;}
.st1294{display:inline;fill:#E62D2A;}
.st1295{display:inline;fill:#E6E12C;}
.st1296{display:inline;fill:#392E25;}
.st1297{display:inline;fill:#58120D;}
.st1298{display:inline;fill:#5D441D;}
.st1299{display:inline;fill:#483521;}
.st1300{font-size:19.0035px;}
.st1301{display:inline;fill:#63113F;}
.st1302{display:inline;fill:#656565;}
.st1303{fill:#A71916;}
.st1304{fill:#E62D2A;}
.st1305{fill:#E6E12C;}
.st1306{fill:#56AF31;}
.st1307{fill:#392E25;}
.st1308{fill:#58120D;}
.st1309{fill:#5D441D;}
.st1310{fill:#483521;}
.st1311{fill:#EF8EBA;}
.st1312{fill:#656565;}
.st1313{fill:#63113F;}
.st1314{display:inline;fill:#BD1C1A;}
.st1315{display:inline;fill:#F0DD0B;}
.st1316{display:inline;fill:#1A4B23;}
.st1317{display:inline;fill:#173C61;}
.st1318{display:inline;fill:#3E0F12;}
.st1319{display:inline;fill:#E87FB1;}
.st1320{display:inline;fill:#E27E1F;}
.st1321{display:inline;fill:#60358C;}
.st1322{display:inline;fill:#3E3F3E;}
.st1323{fill:#BD1C1A;}
.st1324{fill:#F0DD0B;}
.st1325{fill:#1A4B23;}
.st1326{fill:#173C61;}
.st1327{fill:#3E0F12;}
.st1328{fill:#E87FB1;}
.st1329{fill:#E27E1F;}
.st1330{fill:#3E3F3E;}
.st1331{fill:#60358C;}
.st1332{display:inline;fill:#C21718;}
.st1333{display:inline;fill:#009039;}
.st1334{display:inline;fill:#28337E;}
.st1335{display:inline;fill:#D1516A;}
.st1336{display:inline;fill:#EC6730;}
.st1337{display:inline;fill:#43235D;}
.st1338{display:inline;fill:#4D4D4E;}
.st1339{fill:#C21718;}
.st1340{fill:#009039;}
.st1341{fill:#28337E;}
.st1342{fill:#D1516A;}
.st1343{fill:#EC6730;}
.st1344{fill:#4D4D4E;}
.st1345{fill:#43235D;}
.st1346{display:inline;fill:#91191A;}
.st1347{display:inline;fill:#E5AA12;}
.st1348{display:inline;fill:#195B2A;}
.st1349{display:inline;fill:#004F80;}
.st1350{fill:#91191A;}
.st1351{fill:#E5AA12;}
.st1352{fill:#195B2A;}
.st1353{fill:#004F80;}
.st1354{clip-path:url(#SVGID_236_);}
.st1355{clip-path:url(#SVGID_238_);}
.st1356{clip-path:url(#SVGID_240_);}
.st1357{clip-path:url(#SVGID_242_);}
.st1358{clip-path:url(#SVGID_244_);}
.st1359{display:inline;fill:#C53039;}
.st1360{display:inline;fill:#EAE31F;}
.st1361{display:inline;fill:#73B736;}
.st1362{display:inline;fill:#304E9D;}
.st1363{display:inline;fill:#B2617B;}
.st1364{display:inline;fill:#F8CCC8;}
.st1365{display:inline;fill:#66378D;}
.st1366{display:inline;fill:#F4950D;}
.st1367{fill:#C53039;}
.st1368{fill:#EAE31F;}
.st1369{fill:#73B736;}
.st1370{fill:#304E9D;}
.st1371{fill:#B2617B;}
.st1372{fill:#F8CCC8;}
.st1373{fill:#F4950D;}
.st1374{fill:#66378D;}
.st1375{clip-path:url(#SVGID_246_);}
.st1376{clip-path:url(#SVGID_248_);}
.st1377{display:inline;fill:#E51F31;}
.st1378{display:inline;fill:#F5BE23;}
.st1379{display:inline;fill:#53B36C;}
.st1380{display:inline;fill:#E693A0;}
.st1381{display:inline;fill:#EB6215;}
.st1382{display:inline;fill:#582581;}
.st1383{display:inline;fill:#403F3A;}
.st1384{display:inline;fill:#92005A;}
.st1385{display:inline;fill:#65381F;}
.st1386{fill:#E51F31;}
.st1387{fill:#F5BE23;}
.st1388{fill:#53B36C;}
.st1389{fill:#65381F;}
.st1390{fill:#E693A0;}
.st1391{fill:#EB6215;}
.st1392{fill:#403F3A;}
.st1393{fill:#92005A;}
.st1394{fill:#582581;}
.st1395{display:inline;fill:#C11718;}
.st1396{display:inline;fill:#F6D706;}
.st1397{display:inline;fill:#1D5F2B;}
.st1398{display:inline;fill:#924B15;}
.st1399{display:inline;fill:#F8C4D3;}
.st1400{display:inline;fill:#EE7216;}
.st1401{display:inline;fill:#33183E;}
.st1402{display:inline;fill:#A7A7A8;}
.st1403{fill:#C11718;}
.st1404{fill:#F6D706;}
.st1405{fill:#1D5F2B;}
.st1406{fill:#924B15;}
.st1407{fill:#F8C4D3;}
.st1408{fill:#EE7216;}
.st1409{fill:#A7A7A8;}
.st1410{fill:#33183E;}
.st1411{display:inline;fill:#E52A15;}
.st1412{display:inline;fill:#F5D002;}
.st1413{display:inline;fill:#007872;}
.st1414{display:inline;fill:#20A6DF;}
.st1415{display:inline;fill:#3B1D10;}
.st1416{display:inline;fill:#EDA6C7;}
.st1417{display:inline;fill:#ED6E21;}
.st1418{display:inline;fill:#3E235C;}
.st1419{display:inline;fill:#5C718B;}
.st1420{fill:#E52A15;}
.st1421{fill:#F5D002;}
.st1422{fill:#007872;}
.st1423{fill:#20A6DF;}
.st1424{fill:#3B1D10;}
.st1425{fill:#EDA6C7;}
.st1426{fill:#ED6E21;}
.st1427{fill:#5C718B;}
.st1428{fill:#3E235C;}
.st1429{display:inline;fill:#2F4F9D;}
.st1430{display:inline;fill:#4F3137;}
.st1431{display:inline;fill:#EB87A1;}
.st1432{display:inline;fill:#EC7929;}
.st1433{display:inline;fill:#A2A2A2;}
.st1434{display:inline;fill:#9B81B6;}
.st1435{display:inline;fill:#E8530E;}
.st1436{fill:#2F4F9D;}
.st1437{fill:#4F3137;}
.st1438{fill:#EB87A1;}
.st1439{fill:#EC7929;}
.st1440{fill:#E8530E;}
.st1441{fill:#A2A2A2;}
.st1442{fill:#9B81B6;}
.st1443{display:inline;fill:#C71618;}
.st1444{display:inline;fill:#F0E648;}
.st1445{display:inline;fill:#008C87;}
.st1446{display:inline;fill:#0E73B7;}
.st1447{display:inline;fill:#292A25;}
.st1448{display:inline;fill:#E86BA5;}
.st1449{display:inline;fill:#9291A2;}
.st1450{display:inline;fill:#502140;}
.st1451{display:inline;fill:#F28D28;}
.st1452{fill:#F0E648;}
.st1453{fill:#008C87;}
.st1454{fill:#0E73B7;}
.st1455{fill:#292A25;}
.st1456{fill:#E86BA5;}
.st1457{fill:#F28D28;}
.st1458{fill:#9291A2;}
.st1459{fill:#502140;}
.st1460{display:inline;fill:#DB4C3F;}
.st1461{display:inline;fill:#E6E122;}
.st1462{display:inline;fill:#5D9539;}
.st1463{display:inline;fill:#623A2C;}
.st1464{display:inline;fill:#883F13;}
.st1465{display:inline;fill:#E0678F;}
.st1466{display:inline;fill:#BDBDBD;}
.st1467{display:inline;fill:#5C348B;}
.st1468{display:inline;fill:#CC5416;}
.st1469{fill:#DB4C3F;}
.st1470{fill:#E6E122;}
.st1471{fill:#5D9539;}
.st1472{fill:#623A2C;}
.st1473{fill:#883F13;}
.st1474{fill:#E0678F;}
.st1475{fill:#CC5416;}
.st1476{fill:#BDBDBD;}
.st1477{fill:#5C348B;}
.st1478{clip-path:url(#SVGID_250_);}
.st1479{display:inline;fill:#41AD6E;}
.st1480{display:inline;fill:#224C6C;}
.st1481{display:inline;fill:#885E2E;}
.st1482{display:inline;fill:#7E5745;}
.st1483{display:inline;fill:#342021;}
.st1484{display:inline;fill:#DBDBD9;}
.st1485{display:inline;fill:#9590A0;}
.st1486{display:inline;fill:#221315;}
.st1487{fill:#224C6C;}
.st1488{fill:#41AD6E;}
.st1489{fill:#885E2E;}
.st1490{fill:#7E5745;}
.st1491{fill:#342021;}
.st1492{fill:#221315;}
.st1493{fill:#DBDBD9;}
.st1494{fill:#9590A0;}
.st1495{clip-path:url(#SVGID_252_);}
.st1496{clip-path:url(#SVGID_254_);}
.st1497{clip-path:url(#SVGID_256_);}
.st1498{display:inline;fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
.st1499{font-family:'Montserrat-SemiBold';}
.st1500{font-size:21px;}
.st1501{display:inline;fill:#FFFFFF;}
.st1502{display:inline;fill:#EA5239;}
.st1503{display:inline;fill:none;stroke:#000000;stroke-miterlimit:10;}