html {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

html::-webkit-scrollbar {
	display: none;
}

.stx1 {
	letter-spacing: 1.6px;
}
.stx2 {
	letter-spacing: 1.5px;
}
.stx3 {
	letter-spacing: 1.6px;
}
.stx4 {
	letter-spacing: 0.34px;
}
.stx5 {
	letter-spacing: 0.78px;
}

.Ombra_x0020_esterna{fill:none;}
.Bagliore_x0020_esterno_x0020_5_x0020_pt{fill:none;}
.Neon_x0020_blu{fill:none;stroke:#8AACDA;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;}
.Cromato_x0020_evidenz_x002E_{fill:url(#SVGID_1_);stroke:#FFFFFF;stroke-width:0.3629;stroke-miterlimit:1;}
.Jive_GS{fill:#FFDD00;}
.Alyssa_GS{fill:#A6D0E4;}
.st0{opacity:0.5;}
.st1{fill:none;stroke:#09ADC3;stroke-width:0.5;stroke-miterlimit:10;}
.st2{fill:none;stroke:#09ADC3;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st3{fill:none;stroke:#09ADC3;stroke-width:0.5;stroke-linecap:round;stroke-miterlimit:10;}
.st4{fill:none;}
.st5{font-family:'Vollkorn-Bold';}
.st6{font-size:56px;}
.st7{fill:none;stroke:#000000;stroke-miterlimit:10;}
.st8{fill:#EA5239;}
.st9{font-family:'Montserrat-ExtraBold';}
.st10{font-size:18px;}
.st11{font-family:'Montserrat-Regular';}
.st12{font-family:'Vollkorn-Black';}
.st13{font-size:28px;}
.st14{fill:none;stroke:#09ADC3;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
.st15{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
.st16{fill:#09ADC3;}
.st17{font-size:29px;}
.st18{letter-spacing:1;}
.st19{font-family:'Montserrat-Italic';}
.st20{font-family:'Vollkorn-BoldItalic';}
.st21{font-family:'Montserrat-Medium';}
.st22{font-size:19px;}