html {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

html::-webkit-scrollbar {
	display: none;
}

.st0{font-family:'Vollkorn-Black';}
.st1{font-size:37px;}
.st2{fill:none;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
.st3{font-size:16px;}
.st4{font-family:'Vollkorn-BoldItalic';}
.st5{font-size:26px;}
.st6{letter-spacing:1;}
.st7{fill:#EA5239;}
.st8{font-family:'Montserrat-Light';}
.st9{font-size:17px;}
.st10{fill:none;stroke:#000000;stroke-miterlimit:10;}
.st11{fill:none;stroke:#EA5239;stroke-miterlimit:10;}
.st12{display:none;}
.st13{display:inline;}
.st14{font-family:'Montserrat-Medium';}
.st15{font-size:32px;}
.st16{font-family:'Vollkorn-SemiBold';}
.st17{font-size:18px;}
.st18{display:inline;fill:#D20605;}
.st19{display:inline;fill:#E5CD17;}
.st20{display:inline;fill:#37A542;}
.st21{display:inline;fill:#5272B7;}
.st22{display:inline;fill:#6B3E13;}
.st23{display:inline;fill:#7B6F71;}
.st24{display:inline;fill:#5B2243;}
.st25{fill:#FFFFFF;stroke:#1D1D1B;stroke-width:0.25;}
.st26{fill:#D20605;}
.st27{fill:#E5CD17;}
.st28{fill:#37A542;}
.st29{fill:#5272B7;}
.st30{fill:#6B3E13;}
.st31{fill:#7B6F71;}
.st32{fill:#5B2243;}
.st33{font-family:'NotoSans-SemiBold';}
.st34{fill:#F2E500;}
.st35{display:inline;fill:#AA3932;}
.st36{display:inline;fill:#759C2C;}
.st37{display:inline;fill:#6F9DBA;}
.st38{fill:#AA3932;}
.st39{fill:#759C2C;}
.st40{fill:#6F9DBA;}
.st41{display:inline;fill:#F7DF00;}
.st42{display:inline;fill:#E12B2D;}
.st43{display:inline;fill:#35AF7C;}
.st44{display:inline;fill:#274193;}
.st45{fill:#E12B2D;}
.st46{fill:#F7DF00;}
.st47{fill:#35AF7C;}
.st48{fill:#274193;}
.st49{display:inline;fill:#D31217;}
.st50{fill:#D31217;}
.st51{font-family:'NotoSans-Medium';}
.st52{display:inline;fill:#FFE339;}
.st53{display:inline;fill:#E20714;}
.st54{display:inline;fill:#7ABC5F;}
.st55{display:inline;fill:#264F86;}
.st56{display:inline;fill:#745C4E;}
.st57{display:inline;fill:#EA87A7;}
.st58{display:inline;fill:#DA5E27;}
.st59{display:inline;fill:#C3B8C7;}
.st60{display:inline;fill:#514F50;}
.st61{display:inline;fill:#A060A3;}
.st62{fill:#E20714;}
.st63{fill:#FFE339;}
.st64{fill:#7ABC5F;}
.st65{fill:#264F86;}
.st66{fill:#745C4E;}
.st67{fill:#EA87A7;}
.st68{fill:#DA5E27;}
.st69{fill:#C3B8C7;}
.st70{fill:#514F50;}
.st71{fill:#A060A3;}
.st72{display:inline;fill:#4D334C;}
.st73{display:inline;fill:#794795;}
.st74{display:inline;fill:#B7B7B6;}
.st75{display:inline;fill:#645A5B;}
.st76{display:inline;fill:#E73E1B;}
.st77{display:inline;fill:#F49517;}
.st78{display:inline;fill:#E34586;}
.st79{display:inline;fill:#F3A69F;}
.st80{display:inline;fill:#644339;}
.st81{display:inline;fill:#253777;}
.st82{display:inline;fill:#1EB1E7;}
.st83{display:inline;fill:#AEC53B;}
.st84{display:inline;fill:#68B763;}
.st85{display:inline;fill:#65B32E;}
.st86{display:inline;fill:#F4E70F;}
.st87{display:inline;fill:#E6331F;}
.st88{display:inline;fill:#4C0F11;}
.st89{fill:#4C0F11;}
.st90{fill:#E6331F;}
.st91{fill:#F4E70F;}
.st92{fill:#65B32E;}
.st93{fill:#68B763;}
.st94{fill:#AEC53B;}
.st95{fill:#1EB1E7;}
.st96{fill:#253777;}
.st97{fill:#644339;}
.st98{fill:#F3A69F;}
.st99{fill:#E34586;}
.st100{fill:#F49517;}
.st101{fill:#E73E1B;}
.st102{fill:#645A5B;}
.st103{fill:#B7B7B6;}
.st104{fill:#794795;}
.st105{fill:#4D334C;}
.st106{display:inline;fill:#803D90;}
.st107{font-family:'NotoSansArabic-CondensedSemiBold';}
.st108{display:inline;fill:#7B7B7C;}
.st109{display:inline;fill:#EC671C;}
.st110{display:inline;fill:#E162A1;}
.st111{display:inline;fill:#664323;}
.st112{display:inline;fill:#1F7B34;}
.st113{display:inline;fill:#F7DF13;}
.st114{display:inline;fill:#E52321;}
.st115{fill:#E52321;}
.st116{fill:#F7DF13;}
.st117{fill:#1F7B34;}
.st118{fill:#664323;}
.st119{fill:#E162A1;}
.st120{fill:#EC671C;}
.st121{fill:#7B7B7C;}
.st122{fill:#803D90;}
.st123{font-family:'NotoSansArmenian-SemiBold';}
.st124{display:inline;fill:#CD2A20;}
.st125{display:inline;fill:#EEE416;}
.st126{display:inline;fill:#86BC25;}
.st127{display:inline;fill:#284A9A;}
.st128{display:inline;fill:#63140D;}
.st129{display:inline;fill:#E96F91;}
.st130{display:inline;fill:#F28A0B;}
.st131{display:inline;fill:#CBD7AE;}
.st132{display:inline;fill:#972785;}
.st133{fill:#CD2A20;}
.st134{fill:#EEE416;}
.st135{fill:#86BC25;}
.st136{fill:#284A9A;}
.st137{fill:#63140D;}
.st138{fill:#E96F91;}
.st139{fill:#F28A0B;}
.st140{fill:#CBD7AE;}
.st141{fill:#972785;}
.st142{display:inline;fill:#C64A4B;}
.st143{display:inline;fill:#F7F700;}
.st144{display:inline;fill:#0D6F50;}
.st145{display:inline;fill:#272E66;}
.st146{display:inline;fill:#ED6B9E;}
.st147{display:inline;fill:#382212;}
.st148{display:inline;fill:#F07F13;}
.st149{display:inline;fill:#4E0E19;}
.st150{fill:#C64A4B;}
.st151{fill:#F7F700;}
.st152{fill:#0D6F50;}
.st153{fill:#272E66;}
.st154{fill:#382212;}
.st155{fill:#ED6B9E;}
.st156{fill:#F07F13;}
.st157{fill:#4E0E19;}
.st158{display:inline;fill:#F5D803;}
.st159{font-family:'NotoSansBengali-Medium';}
.st160{display:inline;fill:#039E3F;}
.st161{display:inline;fill:#0C6492;}
.st162{display:inline;fill:#372821;}
.st163{display:inline;fill:#501A10;}
.st164{display:inline;fill:#EC98A3;}
.st165{display:inline;fill:#BB5366;}
.st166{display:inline;fill:#EB5D15;}
.st167{display:inline;fill:#A3A3A3;}
.st168{display:inline;fill:#ACA0B0;}
.st169{display:inline;fill:#73184C;}
.st170{display:inline;fill:#794594;}
.st171{display:inline;fill:#C285B7;}
.st172{display:inline;fill:#D01317;}
.st173{display:inline;fill:#F7AC09;}
.st174{fill:#D01317;}
.st175{fill:#F7AC09;}
.st176{fill:#F5D803;}
.st177{fill:#039E3F;}
.st178{fill:#0C6492;}
.st179{fill:#372821;}
.st180{fill:#501A10;}
.st181{fill:#EC98A3;}
.st182{fill:#BB5366;}
.st183{fill:#EB5D15;}
.st184{fill:#A3A3A3;}
.st185{fill:#ACA0B0;}
.st186{fill:#73184C;}
.st187{fill:#794594;}
.st188{fill:#C285B7;}
.st189{font-family:'NotoSansDevanagari-Medium';}
.st190{display:inline;fill:#CE1417;}
.st191{display:inline;fill:#EBB60D;}
.st192{display:inline;fill:#2A7C66;}
.st193{display:inline;fill:#23418D;}
.st194{fill:#CE1417;}
.st195{fill:#EBB60D;}
.st196{fill:#2A7C66;}
.st197{fill:#23418D;}
.st198{display:inline;fill:#CA151A;}
.st199{display:inline;fill:#315431;}
.st200{display:inline;fill:#549A83;}
.st201{display:inline;fill:#3282A9;}
.st202{display:inline;fill:#713C28;}
.st203{display:inline;fill:#29160D;}
.st204{display:inline;fill:#EC6578;}
.st205{display:inline;fill:#D46A13;}
.st206{display:inline;fill:#F49F21;}
.st207{display:inline;fill:#515150;}
.st208{display:inline;fill:#B8C8B7;}
.st209{display:inline;fill:#7259A2;}
.st210{display:inline;fill:#80366B;}
.st211{fill:#CA151A;}
.st212{fill:#315431;}
.st213{fill:#549A83;}
.st214{fill:#3282A9;}
.st215{fill:#713C28;}
.st216{fill:#29160D;}
.st217{fill:#EC6578;}
.st218{fill:#D46A13;}
.st219{fill:#F49F21;}
.st220{fill:#515150;}
.st221{fill:#B8C8B7;}
.st222{fill:#7259A2;}
.st223{fill:#80366B;}
.st224{display:inline;fill:#A92226;}
.st225{display:inline;fill:#3E955E;}
.st226{display:inline;fill:#107BB9;}
.st227{display:inline;fill:#7E5739;}
.st228{display:inline;fill:#EE79AD;}
.st229{display:inline;fill:#EE7323;}
.st230{display:inline;fill:#ABACB2;}
.st231{display:inline;fill:#AC8BBC;}
.st232{display:inline;fill:#6B3089;}
.st233{fill:#A92226;}
.st234{fill:#3E955E;}
.st235{fill:#107BB9;}
.st236{fill:#7E5739;}
.st237{fill:#EE79AD;}
.st238{fill:#EE7323;}
.st239{fill:#ABACB2;}
.st240{fill:#AC8BBC;}
.st241{fill:#6B3089;}
.st242{fill:#E44234;}
.st243{fill:#D5161E;}
.st244{fill:#F2E534;}
.st245{fill:#58A132;}
.st246{fill:#6D4526;}
.st247{fill:#331011;}
.st248{fill:#EA5294;}
.st249{fill:#EE7016;}
.st250{fill:#792684;}
.st251{fill:#711F61;}
.st252{fill:#814997;}
.st253{fill:#582673;}
.st254{display:inline;fill:#CF141B;}
.st255{display:inline;fill:#F4DC0D;}
.st256{display:inline;fill:#63993F;}
.st257{display:inline;fill:#195A75;}
.st258{display:inline;fill:#482718;}
.st259{display:inline;fill:#CB809E;}
.st260{display:inline;fill:#E87730;}
.st261{display:inline;fill:#784C99;}
.st262{fill:#CF141B;}
.st263{fill:#F4DC0D;}
.st264{fill:#63993F;}
.st265{fill:#195A75;}
.st266{fill:#482718;}
.st267{fill:#CB809E;}
.st268{fill:#E87730;}
.st269{fill:#784C99;}
.st270{font-family:'NotoSansCherokee-SemiBold';}
.st271{display:inline;fill:#7E7F7F;}
.st272{display:inline;fill:#9B4C97;}
.st273{fill:#E52328;}
.st274{fill:#FDEC00;}
.st275{fill:#36AB4F;}
.st276{fill:#0764A6;}
.st277{fill:#B87956;}
.st278{fill:#F4ABC6;}
.st279{fill:#EF7C2F;}
.st280{fill:#7E7F7F;}
.st281{fill:#9B4C97;}
.st282{display:inline;fill:#1D1D1B;}
.st283{font-family:'NotoSansCJKjp-Bold-83pv-RKSJ-H';}
.st284{font-size:15px;}
.st285{display:inline;fill:#DC0C16;}
.st286{fill:#1D1D1B;}
.st287{display:inline;fill:#F2EC1C;}
.st288{display:inline;fill:#36874F;}
.st289{display:inline;fill:#294D9D;}
.st290{display:inline;fill:#542C1D;}
.st291{display:inline;fill:#F4B4D2;}
.st292{display:inline;fill:#F3A12B;}
.st293{display:inline;fill:#6F787F;}
.st294{display:inline;fill:#54368D;}
.st295{fill:#DC0C16;}
.st296{fill:#F2EC1C;}
.st297{fill:#36874F;}
.st298{fill:#294D9D;}
.st299{fill:#542C1D;}
.st300{fill:#F4B4D2;}
.st301{fill:#F3A12B;}
.st302{fill:#6F787F;}
.st303{fill:#54368D;}
.st304{display:inline;fill:#F6DA16;}
.st305{font-size:14px;}
.st306{display:inline;fill:#49A534;}
.st307{fill:#49A534;}
.st308{display:inline;fill:#40B17E;}
.st309{display:inline;fill:#4A8AC9;}
.st310{display:inline;fill:#253671;}
.st311{display:inline;fill:#6A4D3A;}
.st312{display:inline;fill:#552E1B;}
.st313{display:inline;fill:#ECB7BD;}
.st314{display:inline;fill:#E94E14;}
.st315{display:inline;fill:#CF141C;}
.st316{fill:#CF141C;}
.st317{fill:#F6DA16;}
.st318{fill:#40B17E;}
.st319{fill:#4A8AC9;}
.st320{fill:#253671;}
.st321{fill:#6A4D3A;}
.st322{fill:#7E381B;}
.st323{fill:#552E1B;}
.st324{fill:#ECB7BD;}
.st325{fill:#E94E14;}
.st326{display:inline;fill:#E41F1A;}
.st327{display:inline;fill:#F5F70D;}
.st328{display:inline;fill:#14A74E;}
.st329{display:inline;fill:#4987B9;}
.st330{display:inline;fill:#8C5222;}
.st331{display:inline;fill:#E96092;}
.st332{display:inline;fill:#E66A0B;}
.st333{display:inline;fill:#5D3560;}
.st334{display:inline;fill:#C8C1BA;}
.st335{fill:#E41F1A;}
.st336{fill:#F5F70D;}
.st337{fill:#14A74E;}
.st338{fill:#4987B9;}
.st339{fill:#8C5222;}
.st340{fill:#E96092;}
.st341{fill:#E66A0B;}
.st342{fill:#C8C1BA;}
.st343{fill:#5D3560;}
.st344{display:inline;fill:#E52324;}
.st345{display:inline;fill:#F7E111;}
.st346{display:inline;fill:#849037;}
.st347{display:inline;fill:#314520;}
.st348{display:inline;fill:#4298A5;}
.st349{display:inline;fill:#BD6943;}
.st350{display:inline;fill:#461A12;}
.st351{display:inline;fill:#D66379;}
.st352{display:inline;fill:#EA7A0F;}
.st353{display:inline;fill:#5C5D62;}
.st354{display:inline;fill:#887D79;}
.st355{display:inline;fill:#6F266B;}
.st356{display:inline;fill:#B897C6;}
.st357{display:inline;fill:#EAA8C4;}
.st358{fill:#E52324;}
.st359{fill:#F7E111;}
.st360{fill:#849037;}
.st361{fill:#314520;}
.st362{fill:#4298A5;}
.st363{fill:#BD6943;}
.st364{fill:#461A12;}
.st365{fill:#EAA8C4;}
.st366{fill:#D66379;}
.st367{fill:#EA7A0F;}
.st368{fill:#5C5D62;}
.st369{fill:#887D79;}
.st370{fill:#6F266B;}
.st371{fill:#B897C6;}
.st372{display:inline;fill:#D42324;}
.st373{display:inline;fill:#F6E93F;}
.st374{display:inline;fill:#2A9F3A;}
.st375{display:inline;fill:#277F9F;}
.st376{display:inline;fill:#412B21;}
.st377{display:inline;fill:#7E4F3A;}
.st378{display:inline;fill:#F29FC2;}
.st379{display:inline;fill:#969696;}
.st380{display:inline;fill:#9A6DAC;}
.st381{display:inline;fill:#E35F16;}
.st382{fill:#D42324;}
.st383{fill:#F6E93F;}
.st384{fill:#2A9F3A;}
.st385{fill:#277F9F;}
.st386{fill:#412B21;}
.st387{fill:#7E4F3A;}
.st388{fill:#F29FC2;}
.st389{fill:#E35F16;}
.st390{fill:#969696;}
.st391{fill:#9A6DAC;}
.st392{display:inline;fill:#D41116;}
.st393{display:inline;fill:#F2DC0C;}
.st394{display:inline;fill:#1A5D2B;}
.st395{display:inline;fill:#2F94D1;}
.st396{display:inline;fill:#673C1E;}
.st397{display:inline;fill:#B85078;}
.st398{display:inline;fill:#ED811E;}
.st399{display:inline;fill:#743B8F;}
.st400{display:inline;fill:#7D7C7C;}
.st401{fill:#D41116;}
.st402{fill:#F2DC0C;}
.st403{fill:#1A5D2B;}
.st404{fill:#2F94D1;}
.st405{fill:#673C1E;}
.st406{fill:#B85078;}
.st407{fill:#ED811E;}
.st408{fill:#7D7C7C;}
.st409{fill:#743B8F;}
.st410{display:inline;fill:#DB1415;}
.st411{display:inline;fill:#A6182B;}
.st412{display:inline;fill:#F1D72A;}
.st413{display:inline;fill:#3DA136;}
.st414{display:inline;fill:#2C60AB;}
.st415{display:inline;fill:#603A23;}
.st416{display:inline;fill:#E71A80;}
.st417{display:inline;fill:#E85F0C;}
.st418{display:inline;fill:#88898B;}
.st419{display:inline;fill:#44235C;}
.st420{display:inline;fill:#B8B9B5;}
.st421{fill:#DB1415;}
.st422{fill:#A6182B;}
.st423{fill:#F1D72A;}
.st424{fill:#3DA136;}
.st425{fill:#2C60AB;}
.st426{fill:#603A23;}
.st427{fill:#E71A80;}
.st428{fill:#E85F0C;}
.st429{fill:#B8B9B5;}
.st430{fill:#88898B;}
.st431{fill:#44235C;}
.st432{display:inline;fill:#D51119;}
.st433{display:inline;fill:#F0BA0A;}
.st434{display:inline;fill:#388D36;}
.st435{display:inline;fill:#1B3762;}
.st436{display:inline;fill:#563722;}
.st437{display:inline;fill:#EB78AD;}
.st438{display:inline;fill:#EE7212;}
.st439{display:inline;fill:#9F85BC;}
.st440{display:inline;fill:#A3A2A4;}
.st441{fill:#D51119;}
.st442{fill:#F0BA0A;}
.st443{fill:#388D36;}
.st444{fill:#1B3762;}
.st445{fill:#563722;}
.st446{fill:#EB78AD;}
.st447{fill:#EE7212;}
.st448{fill:#A3A2A4;}
.st449{fill:#9F85BC;}
.st450{display:inline;fill:#DF0A1B;}
.st451{display:inline;fill:#F5F63A;}
.st452{display:inline;fill:#A8C81E;}
.st453{display:inline;fill:#1A67B0;}
.st454{display:inline;fill:#874E2E;}
.st455{display:inline;fill:#F18FAA;}
.st456{display:inline;fill:#EE721E;}
.st457{display:inline;fill:#773089;}
.st458{display:inline;fill:#B5B5B5;}
.st459{fill:#DF0A1B;}
.st460{fill:#F5F63A;}
.st461{fill:#A8C81E;}
.st462{fill:#1A67B0;}
.st463{fill:#874E2E;}
.st464{fill:#F18FAA;}
.st465{fill:#EE721E;}
.st466{fill:#B5B5B5;}
.st467{fill:#773089;}
.st468{display:inline;fill:#D24816;}
.st469{display:inline;fill:#F0E644;}
.st470{display:inline;fill:#6BB869;}
.st471{display:inline;fill:#2C7E97;}
.st472{fill:#D24816;}
.st473{fill:#F0E644;}
.st474{fill:#6BB869;}
.st475{fill:#2C7E97;}
.st476{display:inline;fill:#F4D41A;}
.st477{display:inline;fill:#60B348;}
.st478{display:inline;fill:#2C4A9A;}
.st479{display:inline;fill:#5B2D16;}
.st480{display:inline;fill:#EB66A2;}
.st481{display:inline;fill:#EB600E;}
.st482{display:inline;fill:#734293;}
.st483{display:inline;fill:#8C9095;}
.st484{fill:#F4D41A;}
.st485{fill:#60B348;}
.st486{fill:#2C4A9A;}
.st487{fill:#5B2D16;}
.st488{fill:#EB66A2;}
.st489{fill:#EB600E;}
.st490{fill:#8C9095;}
.st491{fill:#734293;}
.st492{display:inline;fill:#A7191D;}
.st493{display:inline;fill:#EAD81D;}
.st494{display:inline;fill:#6CA8D3;}
.st495{display:inline;fill:#89512E;}
.st496{display:inline;fill:#E87B9D;}
.st497{display:inline;fill:#ED6B1F;}
.st498{display:inline;fill:#94918F;}
.st499{display:inline;fill:#A6569D;}
.st500{fill:#A7191D;}
.st501{fill:#EAD81D;}
.st502{fill:#6DB859;}
.st503{fill:#6CA8D3;}
.st504{fill:#89512E;}
.st505{fill:#E87B9D;}
.st506{fill:#ED6B1F;}
.st507{fill:#94918F;}
.st508{fill:#A6569D;}
.st509{display:inline;fill:#D32A16;}
.st510{display:inline;fill:#6B9E51;}
.st511{display:inline;fill:#2C7276;}
.st512{fill:#D32A16;}
.st513{fill:#6B9E51;}
.st514{fill:#2C7276;}
.st515{display:inline;fill:#DF251B;}
.st516{display:inline;fill:#F0DD10;}
.st517{display:inline;fill:#237F35;}
.st518{display:inline;fill:#2D4A8D;}
.st519{display:inline;fill:#D492A6;}
.st520{display:inline;fill:#C53968;}
.st521{display:inline;fill:#727171;}
.st522{fill:#DF251B;}
.st523{fill:#F0DD10;}
.st524{fill:#237F35;}
.st525{fill:#2D4A8D;}
.st526{fill:#D492A6;}
.st527{fill:#C53968;}
.st528{fill:#727171;}
.st529{display:inline;fill:#DD0B14;}
.st530{display:inline;fill:#EBBE09;}
.st531{display:inline;fill:#6CB52D;}
.st532{display:inline;fill:#267331;}
.st533{display:inline;fill:#1C75BC;}
.st534{display:inline;fill:#09478B;}
.st535{display:inline;fill:#4C2112;}
.st536{display:inline;fill:#492C16;}
.st537{display:inline;fill:#E966A2;}
.st538{display:inline;fill:#E1772D;}
.st539{display:inline;fill:#767576;}
.st540{display:inline;fill:#878E89;}
.st541{display:inline;fill:#835DA4;}
.st542{display:inline;fill:#562B68;}
.st543{fill:#DD0B14;}
.st544{fill:#EBBE09;}
.st545{fill:#6CB52D;}
.st546{fill:#267331;}
.st547{fill:#1C75BC;}
.st548{fill:#09478B;}
.st549{fill:#4C2112;}
.st550{fill:#492C16;}
.st551{fill:#E966A2;}
.st552{fill:#E1772D;}
.st553{fill:#767576;}
.st554{fill:#878E89;}
.st555{fill:#835DA4;}
.st556{fill:#562B68;}
.st557{display:inline;fill:#E52717;}
.st558{display:inline;fill:#F3F318;}
.st559{display:inline;fill:#508C34;}
.st560{display:inline;fill:#2E54A1;}
.st561{display:inline;fill:#552A11;}
.st562{display:inline;fill:#BD4995;}
.st563{display:inline;fill:#DB4D14;}
.st564{display:inline;fill:#752E88;}
.st565{display:inline;fill:#8D8F92;}
.st566{fill:#E52717;}
.st567{fill:#F3F318;}
.st568{fill:#508C34;}
.st569{fill:#2E54A1;}
.st570{fill:#552A11;}
.st571{fill:#BD4995;}
.st572{fill:#DB4D14;}
.st573{fill:#8D8F92;}
.st574{fill:#752E88;}
.st575{display:inline;fill:#E40E25;}
.st576{display:inline;fill:#F0E51B;}
.st577{display:inline;fill:#40AB35;}
.st578{display:inline;fill:#3A5BA7;}
.st579{display:inline;fill:#782D2E;}
.st580{display:inline;fill:#6A432A;}
.st581{display:inline;fill:#CF4A83;}
.st582{display:inline;fill:#B3B6B4;}
.st583{display:inline;fill:#692369;}
.st584{display:inline;fill:#E9640B;}
.st585{fill:#E40E25;}
.st586{fill:#F0E51B;}
.st587{fill:#40AB35;}
.st588{fill:#3A5BA7;}
.st589{fill:#782D2E;}
.st590{fill:#6A432A;}
.st591{fill:#CF4A83;}
.st592{fill:#E9640B;}
.st593{fill:#B3B6B4;}
.st594{fill:#692369;}
.st595{display:inline;fill:#9E1915;}
.st596{display:inline;fill:#ECCF0C;}
.st597{display:inline;fill:#3EAD5C;}
.st598{display:inline;fill:#257FB9;}
.st599{display:inline;fill:#4D3831;}
.st600{display:inline;fill:#EA5D8C;}
.st601{display:inline;fill:#E95119;}
.st602{display:inline;fill:#A63089;}
.st603{display:inline;fill:#77787D;}
.st604{fill:#9E1915;}
.st605{fill:#ECCF0C;}
.st606{fill:#3EAD5C;}
.st607{fill:#257FB9;}
.st608{fill:#4D3831;}
.st609{fill:#EA5D8C;}
.st610{fill:#E95119;}
.st611{fill:#77787D;}
.st612{fill:#A63089;}
.st613{display:inline;fill:#BD2B18;}
.st614{display:inline;fill:#DEDD26;}
.st615{display:inline;fill:#70912C;}
.st616{display:inline;fill:#2E4C9C;}
.st617{fill:#BD2B18;}
.st618{fill:#DEDD26;}
.st619{fill:#70912C;}
.st620{fill:#2E4C9C;}
.st621{display:inline;fill:#E52D1D;}
.st622{display:inline;fill:#DBDE52;}
.st623{display:inline;fill:#6F9D45;}
.st624{display:inline;fill:#3756A3;}
.st625{fill:#E52D1D;}
.st626{fill:#DBDE52;}
.st627{fill:#6F9D45;}
.st628{fill:#3756A3;}
.st629{display:inline;fill:#D71F2D;}
.st630{display:inline;fill:#F1D514;}
.st631{display:inline;fill:#3AA84B;}
.st632{display:inline;fill:#2FADD0;}
.st633{display:inline;fill:#346BB3;}
.st634{display:inline;fill:#784311;}
.st635{display:inline;fill:#F5BBCB;}
.st636{fill:#E63B14;}
.st637{display:inline;fill:#9D9D9D;}
.st638{display:inline;fill:#682985;}
.st639{fill:#D71F2D;}
.st640{fill:#F1D514;}
.st641{fill:#3AA84B;}
.st642{fill:#2FADD0;}
.st643{fill:#346BB3;}
.st644{fill:#784311;}
.st645{fill:#F5BBCB;}
.st646{fill:#9D9D9D;}
.st647{fill:#682985;}
.st648{display:inline;fill:#E63B14;}
.st649{font-family:'NotoSansHebrew-Bold';}
.st650{font-family:'NotoSans-Bold';}
.st651{display:inline;fill:#A3C9EC;}
.st652{display:inline;fill:#2A4193;}
.st653{display:inline;fill:#4B2610;}
.st654{display:inline;fill:#EFADCE;}
.st655{display:inline;fill:#F18628;}
.st656{display:inline;fill:#9599A1;}
.st657{display:inline;fill:#714293;}
.st658{display:inline;fill:#018D38;}
.st659{fill:#018D38;}
.st660{fill:#A3C9EC;}
.st661{fill:#2A4193;}
.st662{fill:#4B2610;}
.st663{fill:#EFADCE;}
.st664{fill:#F18628;}
.st665{fill:#9599A1;}
.st666{fill:#714293;}
.st667{display:inline;stroke:#FFFFFF;stroke-width:0.25;stroke-miterlimit:10;}
.st668{font-family:'NotoSansDevanagari-Bold';}
.st669{font-family:'NotoSansDevanagari-SemiBold';}
.st670{fill:#EA4B94;}
.st671{display:inline;fill:#EA4B94;}
.st672{fill:#E87308;}
.st673{display:inline;fill:#E87308;}
.st674{fill:#C3C4C2;}
.st675{display:inline;fill:#C3C4C2;}
.st676{fill:#6B3C90;}
.st677{display:inline;fill:#6B3C90;}
.st678{display:inline;fill:#C71618;}
.st679{display:inline;fill:#F3E801;}
.st680{display:inline;fill:#24388D;}
.st681{fill:#753D10;}
.st682{display:inline;fill:#753D10;}
.st683{fill:#C71618;}
.st684{fill:#F3E801;}
.st685{fill:#24388D;}
.st686{display:inline;fill:#0D9038;}
.st687{display:inline;fill:#6C3022;}
.st688{display:inline;fill:#D371AA;}
.st689{display:inline;fill:#EB5E1D;}
.st690{display:inline;fill:#7E398E;}
.st691{display:inline;fill:#A0A09F;}
.st692{fill:#0D9038;}
.st693{fill:#6C3022;}
.st694{fill:#D371AA;}
.st695{fill:#EB5E1D;}
.st696{fill:#A0A09F;}
.st697{fill:#7E398E;}
.st698{display:inline;fill:#E21019;}
.st699{display:inline;fill:#F0E635;}
.st700{display:inline;fill:#008737;}
.st701{display:inline;fill:#4CAFDE;}
.st702{display:inline;fill:#23366B;}
.st703{display:inline;fill:#613429;}
.st704{display:inline;fill:#EF9AA8;}
.st705{display:inline;fill:#6C4796;}
.st706{display:inline;fill:#EE751B;}
.st707{fill:#E21019;}
.st708{fill:#F0E635;}
.st709{fill:#008737;}
.st710{fill:#4CAFDE;}
.st711{fill:#23366B;}
.st712{fill:#613429;}
.st713{fill:#EF9AA8;}
.st714{fill:#EE751B;}
.st715{fill:#6C4796;}
.st716{display:inline;fill:#E41B13;}
.st717{display:inline;fill:#931914;}
.st718{display:inline;fill:#F0E74B;}
.st719{display:inline;fill:#2D4D9D;}
.st720{display:inline;fill:#965B35;}
.st721{display:inline;fill:#EA5428;}
.st722{display:inline;fill:#F08023;}
.st723{display:inline;fill:#908F8F;}
.st724{display:inline;fill:#A9A9A9;}
.st725{display:inline;fill:#814594;}
.st726{fill:#E8589A;}
.st727{fill:#E41B13;}
.st728{fill:#931914;}
.st729{fill:#F0E74B;}
.st730{fill:#2D4D9D;}
.st731{fill:#965B35;}
.st732{fill:#EA5428;}
.st733{fill:#F08023;}
.st734{fill:#908F8F;}
.st735{fill:#A9A9A9;}
.st736{fill:#814594;}
.st737{display:inline;fill:#DC1D28;}
.st738{display:inline;fill:#F5F303;}
.st739{display:inline;fill:#2EA836;}
.st740{display:inline;fill:#2F4798;}
.st741{display:inline;fill:#37110E;}
.st742{display:inline;fill:#EB9998;}
.st743{display:inline;fill:#EF8E1D;}
.st744{display:inline;fill:#752774;}
.st745{fill:#DC1D28;}
.st746{fill:#F5F303;}
.st747{fill:#2EA836;}
.st748{fill:#2F4798;}
.st749{fill:#37110E;}
.st750{fill:#EB9998;}
.st751{fill:#EF8E1D;}
.st752{fill:#752774;}
.st753{display:inline;fill:#B92518;}
.st754{display:inline;fill:#F2D232;}
.st755{display:inline;fill:#7AB24A;}
.st756{display:inline;fill:#145AA1;}
.st757{fill:#B92518;}
.st758{fill:#F2D232;}
.st759{fill:#7AB24A;}
.st760{fill:#145AA1;}
.st761{fill:#C01636;}
.st762{display:inline;fill:#6B925B;}
.st763{display:inline;fill:#2D4697;}
.st764{display:inline;fill:#866038;}
.st765{fill:#E19AC3;}
.st766{fill:#EB620E;}
.st767{display:inline;fill:#CBCAC9;}
.st768{display:inline;fill:#564797;}
.st769{fill:#6B925B;}
.st770{fill:#2D4697;}
.st771{fill:#866038;}
.st772{fill:#CBCAC9;}
.st773{fill:#564797;}
.st774{display:inline;fill:#D51028;}
.st775{display:inline;fill:#F5DF0B;}
.st776{display:inline;fill:#0B9041;}
.st777{display:inline;fill:#2F3F92;}
.st778{display:inline;fill:#400F11;}
.st779{display:inline;fill:#D8638B;}
.st780{display:inline;fill:#E95314;}
.st781{display:inline;fill:#88898A;}
.st782{display:inline;fill:#804F9B;}
.st783{fill:#D51028;}
.st784{fill:#F5DF0B;}
.st785{fill:#0B9041;}
.st786{fill:#2F3F92;}
.st787{fill:#400F11;}
.st788{fill:#D8638B;}
.st789{fill:#E95314;}
.st790{fill:#88898A;}
.st791{fill:#804F9B;}
.st792{font-family:'NotoSansThaana-Regular';}
.st793{fill:#AE191F;}
.st794{display:inline;fill:#AE191F;}
.st795{fill:#0DA276;}
.st796{display:inline;fill:#0DA276;}
.st797{fill:#1C59A6;}
.st798{display:inline;fill:#1C59A6;}
.st799{display:inline;fill:#CF2D34;}
.st800{display:inline;fill:#FFCE2F;}
.st801{display:inline;fill:#598C30;}
.st802{display:inline;fill:#234E9E;}
.st803{display:inline;fill:#7B6037;}
.st804{display:inline;fill:#BF2B87;}
.st805{display:inline;fill:#F0901D;}
.st806{display:inline;fill:#533476;}
.st807{display:inline;fill:#737478;}
.st808{fill:#CF2D34;}
.st809{fill:#FFCE2F;}
.st810{fill:#598C30;}
.st811{fill:#234E9E;}
.st812{fill:#7B6037;}
.st813{fill:#BF2B87;}
.st814{fill:#F0901D;}
.st815{fill:#737478;}
.st816{fill:#533476;}
.st817{display:inline;fill:#E2271C;}
.st818{display:inline;fill:#F7E449;}
.st819{display:inline;fill:#599460;}
.st820{display:inline;fill:#2167B1;}
.st821{fill:#E2271C;}
.st822{fill:#F7E449;}
.st823{fill:#599460;}
.st824{fill:#2167B1;}
.st825{display:inline;fill:#BD172D;}
.st826{display:inline;fill:#E62734;}
.st827{display:inline;fill:#F3CF0D;}
.st828{display:inline;fill:#017F3E;}
.st829{display:inline;fill:#4F84C4;}
.st830{display:inline;fill:#622F1B;}
.st831{display:inline;fill:#CB5590;}
.st832{display:inline;fill:#4D4D4D;}
.st833{display:inline;fill:#67328A;}
.st834{display:inline;fill:#EA7A09;}
.st835{fill:#BD172D;}
.st836{fill:#E62734;}
.st837{fill:#F3CF0D;}
.st838{fill:#017F3E;}
.st839{fill:#4F84C4;}
.st840{fill:#622F1B;}
.st841{fill:#CB5590;}
.st842{fill:#EA7A09;}
.st843{fill:#4D4D4D;}
.st844{fill:#67328A;}
.st845{display:inline;fill:#CB2429;}
.st846{display:inline;fill:#F7D604;}
.st847{display:inline;fill:#077D35;}
.st848{display:inline;fill:#4CA834;}
.st849{display:inline;fill:#91BC67;}
.st850{display:inline;fill:#ADD084;}
.st851{display:inline;fill:#1C88BA;}
.st852{display:inline;fill:#46699C;}
.st853{display:inline;fill:#245EA9;}
.st854{display:inline;fill:#26336C;}
.st855{display:inline;fill:#1C1F40;}
.st856{display:inline;fill:#1A2440;}
.st857{display:inline;fill:#492D1F;}
.st858{display:inline;fill:#210F11;}
.st859{display:inline;fill:#752518;}
.st860{display:inline;fill:#8A622F;}
.st861{display:inline;fill:#28191B;}
.st862{display:inline;fill:#E12C74;}
.st863{display:inline;fill:#ED7883;}
.st864{display:inline;fill:#FAD1D1;}
.st865{display:inline;fill:#992771;}
.st866{display:inline;fill:#5F2B7F;}
.st867{display:inline;fill:#8D7AB9;}
.st868{display:inline;fill:#F59B0A;}
.st869{display:inline;fill:#606073;}
.st870{display:inline;fill:#8F8F94;}
.st871{display:inline;fill:#5E1118;}
.st872{display:inline;fill:#D25A1C;}
.st873{fill:#EAE8DD;}
.st874{fill:#CB2429;}
.st875{fill:#F7D604;}
.st876{fill:#077D35;}
.st877{fill:#4CA834;}
.st878{fill:#91BC67;}
.st879{fill:#ADD084;}
.st880{fill:#1C88BA;}
.st881{fill:#46699C;}
.st882{fill:#245EA9;}
.st883{fill:#26336C;}
.st884{fill:#1C1F40;}
.st885{fill:#1A2440;}
.st886{fill:#492D1F;}
.st887{fill:#210F11;}
.st888{fill:#752518;}
.st889{fill:#5E1118;}
.st890{fill:#8A622F;}
.st891{fill:#28191B;}
.st892{fill:#E12C74;}
.st893{fill:#ED7883;}
.st894{fill:#FAD1D1;}
.st895{fill:#D25A1C;}
.st896{fill:#F59B0A;}
.st897{fill:#606073;}
.st898{fill:#8F8F94;}
.st899{fill:#992771;}
.st900{fill:#5F2B7F;}
.st901{fill:#8D7AB9;}
.st902{display:inline;fill:#E41B15;}
.st903{display:inline;fill:#F6C226;}
.st904{display:inline;fill:#5CBA9B;}
.st905{display:inline;fill:#237BAA;}
.st906{fill:#E41B15;}
.st907{fill:#F6C226;}
.st908{fill:#5CBA9B;}
.st909{fill:#237BAA;}
.st910{display:inline;fill:#F8DB00;}
.st911{display:inline;fill:#0C8D66;}
.st912{display:inline;fill:#2D7286;}
.st913{fill:#F8DB00;}
.st914{fill:#0C8D66;}
.st915{fill:#2D7286;}
.st916{display:inline;fill:#F4C200;}
.st917{display:inline;fill:#025039;}
.st918{display:inline;fill:#243F92;}
.st919{fill:#F4C200;}
.st920{fill:#025039;}
.st921{fill:#243F92;}
.st922{display:inline;fill:#027135;}
.st923{display:inline;fill:#3D1511;}
.st924{display:inline;fill:#A24F98;}
.st925{fill:#EB6018;}
.st926{display:inline;fill:#808184;}
.st927{fill:#63398E;}
.st928{fill:#027135;}
.st929{fill:#3D1511;}
.st930{fill:#A24F98;}
.st931{fill:#808184;}
.st932{display:inline;fill:#0C100C;}
.st933{display:inline;fill:#941D25;}
.st934{display:inline;fill:#FEEB17;}
.st935{display:inline;fill:#F3EB78;}
.st936{display:inline;fill:#A2C638;}
.st937{display:inline;fill:#67E000;}
.st938{display:inline;fill:#00C760;}
.st939{display:inline;fill:#349436;}
.st940{display:inline;fill:#67C3CF;}
.st941{display:inline;fill:#2D519F;}
.st942{display:inline;fill:#362971;}
.st943{display:inline;fill:#7C5D29;}
.st944{display:inline;fill:#6F5250;}
.st945{display:inline;fill:#422D1E;}
.st946{display:inline;fill:#E25D96;}
.st947{display:inline;fill:#F8AB10;}
.st948{display:inline;fill:#525252;}
.st949{display:inline;fill:#B0AFAE;}
.st950{display:inline;fill:#7803E4;}
.st951{fill:#0C100C;}
.st952{fill:#941D25;}
.st953{fill:#FEEB17;}
.st954{fill:#F3EB78;}
.st955{fill:#A2C638;}
.st956{fill:#67E000;}
.st957{fill:#00C760;}
.st958{fill:#349436;}
.st959{fill:#67C3CF;}
.st960{fill:#2D519F;}
.st961{fill:#362971;}
.st962{fill:#7C5D29;}
.st963{fill:#6F5250;}
.st964{fill:#422D1E;}
.st965{fill:#E25D96;}
.st966{fill:#F8AB10;}
.st967{fill:#525252;}
.st968{fill:#B0AFAE;}
.st969{fill:#7803E4;}
.st970{display:inline;fill:#DA0E15;}
.st971{display:inline;fill:#FED421;}
.st972{display:inline;fill:#1B672E;}
.st973{display:inline;fill:#395DA8;}
.st974{display:inline;fill:#9A5A38;}
.st975{display:inline;fill:#EE7F80;}
.st976{display:inline;fill:#DF4D12;}
.st977{display:inline;fill:#4F2C86;}
.st978{display:inline;fill:#C3C2C1;}
.st979{fill:#DA0E15;}
.st980{fill:#FED421;}
.st981{fill:#1B672E;}
.st982{fill:#395DA8;}
.st983{fill:#9A5A38;}
.st984{fill:#EE7F80;}
.st985{fill:#DF4D12;}
.st986{fill:#C3C2C1;}
.st987{fill:#4F2C86;}
.st988{display:inline;fill:#E41B1A;}
.st989{display:inline;fill:#FECB16;}
.st990{display:inline;fill:#15A55A;}
.st991{display:inline;fill:#3862AB;}
.st992{fill:#E41B1A;}
.st993{fill:#FECB16;}
.st994{fill:#15A55A;}
.st995{fill:#3862AB;}
.st996{display:inline;fill:#C61B25;}
.st997{display:inline;fill:#EBDF20;}
.st998{display:inline;fill:#396735;}
.st999{display:inline;fill:#532323;}
.st1000{display:inline;fill:#E24E96;}
.st1001{display:inline;fill:#EF8C1D;}
.st1002{display:inline;fill:#8057A0;}
.st1003{display:inline;fill:#494748;}
.st1004{fill:#C61B25;}
.st1005{fill:#EBDF20;}
.st1006{fill:#396735;}
.st1007{fill:#532323;}
.st1008{fill:#E24E96;}
.st1009{fill:#EF8C1D;}
.st1010{fill:#494748;}
.st1011{fill:#8057A0;}
.st1012{display:inline;fill:#EEE428;}
.st1013{display:inline;fill:#14A039;}
.st1014{display:inline;fill:#134380;}
.st1015{display:inline;fill:#522621;}
.st1016{display:inline;fill:#EF7DA2;}
.st1017{display:inline;fill:#ED6A2C;}
.st1018{display:inline;fill:#692D8C;}
.st1019{display:inline;fill:#A22065;}
.st1020{display:inline;fill:#A9A8A8;}
.st1021{fill:#EEE428;}
.st1022{fill:#14A039;}
.st1023{fill:#134380;}
.st1024{fill:#522621;}
.st1025{fill:#EF7DA2;}
.st1026{fill:#ED6A2C;}
.st1027{fill:#A9A8A8;}
.st1028{fill:#692D8C;}
.st1029{fill:#A22065;}
.st1030{display:inline;fill:#711E29;}
.st1031{display:inline;fill:#E63325;}
.st1032{display:inline;fill:#009539;}
.st1033{display:inline;fill:#F7D802;}
.st1034{display:inline;fill:#1F3D95;}
.st1035{display:inline;fill:#8F5A3D;}
.st1036{display:inline;fill:#4C2E15;}
.st1037{display:inline;fill:#EE759A;}
.st1038{display:inline;fill:#ED6928;}
.st1039{display:inline;fill:#F18811;}
.st1040{display:inline;fill:#939393;}
.st1041{display:inline;fill:#EC6415;}
.st1042{display:inline;fill:#A3A2A2;}
.st1043{display:inline;fill:#5D545F;}
.st1044{display:inline;fill:#5F2A86;}
.st1045{display:inline;fill:#7C1141;}
.st1046{display:inline;fill:#989CA4;}
.st1047{display:inline;fill:#634595;}
.st1048{fill:#711E29;}
.st1049{fill:#E63325;}
.st1050{fill:#F7D802;}
.st1051{fill:#009539;}
.st1052{fill:#1F3D95;}
.st1053{fill:#8F5A3D;}
.st1054{fill:#4C2E15;}
.st1055{fill:#EE759A;}
.st1056{fill:#ED6928;}
.st1057{fill:#F18811;}
.st1058{fill:#EC6415;}
.st1059{fill:#939393;}
.st1060{fill:#A3A2A2;}
.st1061{fill:#5D545F;}
.st1062{fill:#989CA4;}
.st1063{fill:#634595;}
.st1064{fill:#5F2A86;}
.st1065{fill:#7C1141;}
.st1066{display:inline;fill:#4C8772;}
.st1067{display:inline;fill:#005692;}
.st1068{fill:#4C8772;}
.st1069{fill:#005692;}
.st1070{display:inline;fill:#E52322;}
.st1071{display:inline;fill:#199C95;}
.st1072{display:inline;fill:#204678;}
.st1073{display:inline;fill:#47352A;}
.st1074{fill:#E52322;}
.st1075{fill:#199C95;}
.st1076{fill:#204678;}
.st1077{fill:#47352A;}
.st1078{display:inline;fill:#C32226;}
.st1079{display:inline;fill:#EAE32E;}
.st1080{display:inline;fill:#02855B;}
.st1081{display:inline;fill:#3171B7;}
.st1082{fill:#C32226;}
.st1083{fill:#EAE32E;}
.st1084{fill:#02855B;}
.st1085{fill:#3171B7;}
.st1086{display:inline;fill:#D90F16;}
.st1087{display:inline;fill:#F3D001;}
.st1088{display:inline;fill:#36AB4D;}
.st1089{display:inline;fill:#0866AE;}
.st1090{display:inline;fill:#2B1C12;}
.st1091{display:inline;fill:#E44E96;}
.st1092{display:inline;fill:#F07E23;}
.st1093{display:inline;fill:#654595;}
.st1094{display:inline;fill:#5B5957;}
.st1095{fill:#D90F16;}
.st1096{fill:#F3D001;}
.st1097{fill:#36AB4D;}
.st1098{fill:#0866AE;}
.st1099{fill:#2B1C12;}
.st1100{fill:#E44E96;}
.st1101{fill:#F07E23;}
.st1102{fill:#5B5957;}
.st1103{fill:#654595;}
.st1104{display:inline;fill:#B2271D;}
.st1105{display:inline;fill:#D61016;}
.st1106{display:inline;fill:#34AD6A;}
.st1107{display:inline;fill:#0001B3;}
.st1108{display:inline;fill:#72BEEB;}
.st1109{fill:#7D3F11;}
.st1110{display:inline;fill:#F08BA9;}
.st1111{fill:#F48302;}
.st1112{display:inline;fill:#482681;stroke:#FFFFFF;stroke-width:0.25;stroke-miterlimit:10;}
.st1113{fill:#7D4393;}
.st1114{display:inline;fill:#B093C4;}
.st1115{fill:#D61016;}
.st1116{fill:#B2271D;}
.st1117{fill:#34AD6A;}
.st1118{fill:#72BEEB;}
.st1119{fill:#0001B3;}
.st1120{fill:#F08BA9;}
.st1121{fill:#482681;}
.st1122{fill:#B093C4;}
.st1123{display:inline;fill:#DF372F;}
.st1124{display:inline;fill:#FEFF13;}
.st1125{display:inline;fill:#0C9C39;}
.st1126{display:inline;fill:#036B9D;}
.st1127{display:inline;fill:#A7521D;}
.st1128{display:inline;fill:#F6B2B2;}
.st1129{display:inline;fill:#EC6917;}
.st1130{display:inline;fill:#693C90;}
.st1131{display:inline;fill:#A09E9E;}
.st1132{fill:#DF372F;}
.st1133{fill:#FEFF13;}
.st1134{fill:#0C9C39;}
.st1135{fill:#036B9D;}
.st1136{fill:#A7521D;}
.st1137{fill:#F6B2B2;}
.st1138{fill:#EC6917;}
.st1139{fill:#A09E9E;}
.st1140{fill:#693C90;}
.st1141{display:inline;fill:#024F90;}
.st1142{display:inline;fill:#703E2F;}
.st1143{display:inline;fill:#DF6188;}
.st1144{display:inline;fill:#E2B2D4;}
.st1145{display:inline;fill:#E97C0A;}
.st1146{fill:#024F90;}
.st1147{fill:#703E2F;}
.st1148{fill:#DF6188;}
.st1149{fill:#E2B2D4;}
.st1150{fill:#E97C0A;}
.st1151{display:inline;fill:#A71916;}
.st1152{display:inline;fill:#E62D2A;}
.st1153{display:inline;fill:#E6E12C;}
.st1154{display:inline;fill:#392E25;}
.st1155{display:inline;fill:#58120D;}
.st1156{display:inline;fill:#5D441D;}
.st1157{display:inline;fill:#483521;}
.st1158{font-size:19.0035px;}
.st1159{display:inline;fill:#63113F;}
.st1160{display:inline;fill:#656565;}
.st1161{fill:#A71916;}
.st1162{fill:#E62D2A;}
.st1163{fill:#E6E12C;}
.st1164{fill:#56AF31;}
.st1165{fill:#392E25;}
.st1166{fill:#58120D;}
.st1167{fill:#5D441D;}
.st1168{fill:#483521;}
.st1169{fill:#EF8EBA;}
.st1170{fill:#656565;}
.st1171{fill:#63113F;}
.st1172{display:inline;fill:#BD1C1A;}
.st1173{display:inline;fill:#F0DD0B;}
.st1174{display:inline;fill:#1A4B23;}
.st1175{display:inline;fill:#173C61;}
.st1176{display:inline;fill:#3E0F12;}
.st1177{display:inline;fill:#E87FB1;}
.st1178{display:inline;fill:#E27E1F;}
.st1179{display:inline;fill:#60358C;}
.st1180{display:inline;fill:#3E3F3E;}
.st1181{fill:#BD1C1A;}
.st1182{fill:#F0DD0B;}
.st1183{fill:#1A4B23;}
.st1184{fill:#173C61;}
.st1185{fill:#3E0F12;}
.st1186{fill:#E87FB1;}
.st1187{fill:#E27E1F;}
.st1188{fill:#3E3F3E;}
.st1189{fill:#60358C;}
.st1190{display:inline;fill:#C21718;}
.st1191{display:inline;fill:#009039;}
.st1192{display:inline;fill:#28337E;}
.st1193{display:inline;fill:#D1516A;}
.st1194{display:inline;fill:#EC6730;}
.st1195{display:inline;fill:#43235D;}
.st1196{display:inline;fill:#4D4D4E;}
.st1197{fill:#C21718;}
.st1198{fill:#009039;}
.st1199{fill:#28337E;}
.st1200{fill:#D1516A;}
.st1201{fill:#EC6730;}
.st1202{fill:#4D4D4E;}
.st1203{fill:#43235D;}
.st1204{display:inline;fill:#91191A;}
.st1205{display:inline;fill:#E5AA12;}
.st1206{display:inline;fill:#195B2A;}
.st1207{display:inline;fill:#004F80;}
.st1208{fill:#91191A;}
.st1209{fill:#E5AA12;}
.st1210{fill:#195B2A;}
.st1211{fill:#004F80;}
.st1212{display:inline;fill:#C53039;}
.st1213{display:inline;fill:#EAE31F;}
.st1214{display:inline;fill:#73B736;}
.st1215{display:inline;fill:#304E9D;}
.st1216{display:inline;fill:#B2617B;}
.st1217{display:inline;fill:#F8CCC8;}
.st1218{display:inline;fill:#66378D;}
.st1219{display:inline;fill:#F4950D;}
.st1220{fill:#C53039;}
.st1221{fill:#EAE31F;}
.st1222{fill:#73B736;}
.st1223{fill:#304E9D;}
.st1224{fill:#B2617B;}
.st1225{fill:#F8CCC8;}
.st1226{fill:#F4950D;}
.st1227{fill:#66378D;}
.st1228{display:inline;fill:#E51F31;}
.st1229{display:inline;fill:#F5BE23;}
.st1230{display:inline;fill:#53B36C;}
.st1231{display:inline;fill:#E693A0;}
.st1232{display:inline;fill:#EB6215;}
.st1233{display:inline;fill:#582581;}
.st1234{display:inline;fill:#403F3A;}
.st1235{display:inline;fill:#92005A;}
.st1236{display:inline;fill:#65381F;}
.st1237{fill:#E51F31;}
.st1238{fill:#F5BE23;}
.st1239{fill:#53B36C;}
.st1240{fill:#65381F;}
.st1241{fill:#E693A0;}
.st1242{fill:#EB6215;}
.st1243{fill:#403F3A;}
.st1244{fill:#92005A;}
.st1245{fill:#582581;}
.st1246{display:inline;fill:#C11718;}
.st1247{display:inline;fill:#F6D706;}
.st1248{display:inline;fill:#1D5F2B;}
.st1249{display:inline;fill:#924B15;}
.st1250{display:inline;fill:#F8C4D3;}
.st1251{display:inline;fill:#EE7216;}
.st1252{display:inline;fill:#33183E;}
.st1253{display:inline;fill:#A7A7A8;}
.st1254{fill:#C11718;}
.st1255{fill:#F6D706;}
.st1256{fill:#1D5F2B;}
.st1257{fill:#924B15;}
.st1258{fill:#F8C4D3;}
.st1259{fill:#EE7216;}
.st1260{fill:#A7A7A8;}
.st1261{fill:#33183E;}
.st1262{display:inline;fill:#E52A15;}
.st1263{display:inline;fill:#F5D002;}
.st1264{display:inline;fill:#007872;}
.st1265{display:inline;fill:#20A6DF;}
.st1266{display:inline;fill:#3B1D10;}
.st1267{display:inline;fill:#EDA6C7;}
.st1268{display:inline;fill:#ED6E21;}
.st1269{display:inline;fill:#3E235C;}
.st1270{display:inline;fill:#5C718B;}
.st1271{fill:#E52A15;}
.st1272{fill:#F5D002;}
.st1273{fill:#007872;}
.st1274{fill:#20A6DF;}
.st1275{fill:#3B1D10;}
.st1276{fill:#EDA6C7;}
.st1277{fill:#ED6E21;}
.st1278{fill:#5C718B;}
.st1279{fill:#3E235C;}
.st1280{display:inline;fill:#2F4F9D;}
.st1281{display:inline;fill:#4F3137;}
.st1282{display:inline;fill:#EB87A1;}
.st1283{display:inline;fill:#EC7929;}
.st1284{display:inline;fill:#A2A2A2;}
.st1285{display:inline;fill:#9B81B6;}
.st1286{display:inline;fill:#E8530E;}
.st1287{fill:#2F4F9D;}
.st1288{fill:#4F3137;}
.st1289{fill:#EB87A1;}
.st1290{fill:#EC7929;}
.st1291{fill:#E8530E;}
.st1292{fill:#A2A2A2;}
.st1293{fill:#9B81B6;}
.st1294{display:inline;fill:#F0E648;}
.st1295{display:inline;fill:#008C87;}
.st1296{display:inline;fill:#0E73B7;}
.st1297{display:inline;fill:#292A25;}
.st1298{display:inline;fill:#E86BA5;}
.st1299{display:inline;fill:#9291A2;}
.st1300{display:inline;fill:#502140;}
.st1301{display:inline;fill:#F28D28;}
.st1302{fill:#F0E648;}
.st1303{fill:#008C87;}
.st1304{fill:#0E73B7;}
.st1305{fill:#292A25;}
.st1306{fill:#E86BA5;}
.st1307{fill:#F28D28;}
.st1308{fill:#9291A2;}
.st1309{fill:#502140;}
.st1310{display:inline;fill:#DB4C3F;}
.st1311{display:inline;fill:#E6E122;}
.st1312{display:inline;fill:#5D9539;}
.st1313{display:inline;fill:#623A2C;}
.st1314{display:inline;fill:#883F13;}
.st1315{display:inline;fill:#E0678F;}
.st1316{display:inline;fill:#BDBDBD;}
.st1317{fill:#5C348B;}
.st1318{display:inline;fill:#CC5416;}
.st1319{fill:#DB4C3F;}
.st1320{fill:#E6E122;}
.st1321{fill:#5D9539;}
.st1322{fill:#623A2C;}
.st1323{fill:#883F13;}
.st1324{fill:#E0678F;}
.st1325{fill:#CC5416;}
.st1326{fill:#BDBDBD;}
.st1327{fill:#41AD6E;}
.st1328{fill:#224C6C;}
.st1329{fill:#885E2E;}
.st1330{fill:#7E5745;}
.st1331{fill:#342021;}
.st1332{fill:#DBDBD9;}
.st1333{fill:#9590A0;}
.st1334{fill:#221315;}
.st1335{display:inline;fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
.st1336{display:inline;fill-rule:evenodd;clip-rule:evenodd;fill:none;}
.st1337{font-family:'Montserrat-SemiBold';}
.st1338{font-size:21px;}
.st1339{display:inline;fill:#FFFFFF;}
.st1340{display:inline;fill:#EA5239;}
.st1341{display:inline;fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}