@font-face {
	font-family: 	 'Montserrat';
	src: url('../font/Montserrat-Regular.ttf');
}
@font-face {
	font-family: 	 'Montserrat-Black';
	src: url('../font/Montserrat-Black.ttf');
}
@font-face {
	font-family: 	 'Montserrat-BlackItalic';
	src: url('../font/Montserrat-BlackItalic.ttf');
}
@font-face {
	font-family: 	 'Montserrat-Bold';
	src: url('../font/Montserrat-Bold.ttf');
}
@font-face {
	font-family: 	 'Montserrat-BoldItalic';
	src: url('../font/Montserrat-BoldItalic.ttf');
}
@font-face {
	font-family: 	 'Montserrat-ExtraBold';
	src: url('../font/Montserrat-ExtraBold.ttf');
}
@font-face {
	font-family: 	 'Montserrat-ExtraBoldItalic';
	src: url('../font/Montserrat-ExtraBoldItalic.ttf');
}
@font-face {
	font-family: 	 'Montserrat-ExtraLight';
	src: url('../font/Montserrat-ExtraLight.ttf');
}
@font-face {
	font-family: 	 'Montserrat-ExtraLightItalic';
	src: url('../font/Montserrat-ExtraLightItalic.ttf');
}
@font-face {
	font-family: 	 'Montserrat-Italic';
	src: url('../font/Montserrat-Italic.ttf');
}
@font-face {
	font-family: 	 'Montserrat-Light';
	src: url('../font/Montserrat-Light.ttf');
}
@font-face {
	font-family: 	 'Montserrat-LightItalic';
	src: url('../font/Montserrat-LightItalic.ttf');
}
@font-face {
	font-family: 	 'Montserrat-Medium';
	src: url('../font/Montserrat-Medium.ttf');
}
@font-face {
	font-family: 	 'Montserrat-MediumItalic';
	src: url('../font/Montserrat-MediumItalic.ttf');
}
@font-face {
	font-family: 	 'Montserrat-Regular';
	src: url('../font/Montserrat-Regular.ttf');
}
@font-face {
	font-family: 	 'Montserrat-SemiBold';
	src: url('../font/Montserrat-SemiBold.ttf');
}
@font-face {
	font-family: 	 'Montserrat-SemiBoldItalic';
	src: url('../font/Montserrat-SemiBoldItalic.ttf');
}
@font-face {
	font-family: 	 'Montserrat-Thin';
	src: url('../font/Montserrat-Thin.ttf');
}
@font-face {
	font-family: 	 'Montserrat-ThinItalic';
	src: url('../font/Montserrat-ThinItalic.ttf');
}

@font-face {
	font-family: 	 'Vollkorn';
	src: url('../font/Vollkorn-Regular.ttf');
}
@font-face {
	font-family: 	 'Vollkorn-Black';
	src: url('../font/Vollkorn-Black.ttf');
}
@font-face {
	font-family: 	 'Vollkorn-BlackItalic';
	src: url('../font/Vollkorn-BlackItalic.ttf');
}
@font-face {
	font-family: 	 'Vollkorn-Bold';
	src: url('../font/Vollkorn-Bold.ttf');
}
@font-face {
	font-family: 	 'Vollkorn-BoldItalic';
	src: url('../font/Vollkorn-BoldItalic.ttf');
}
@font-face {
	font-family: 	 'Vollkorn-Italic';
	src: url('../font/Vollkorn-Italic.ttf');
}
@font-face {
	font-family: 	 'Vollkorn-Regular';
	src: url('../font/Vollkorn-Regular.ttf');
}
@font-face {
	font-family: 	 'Vollkorn-SemiBold';
	src: url('../font/Vollkorn-SemiBold.ttf');
}
@font-face {
	font-family: 	 'Vollkorn-SemiBoldItalic';
	src: url('../font/Vollkorn-SemiBoldItalic.ttf');
}